@font-face {
	font-family: 'MYRIADPROREGULAR';
	src: url('./MYRIADPROREGULAR.eot');
	src: url('./MYRIADPROREGULAR.eot?#iefix') format('embedded-opentype'),
		url('./MYRIADPROREGULAR.woff') format('woff'),
		url('./MYRIADPROREGULAR.ttf') format('truetype')
		url('./MYRIADPROREGULAR.svg#MYRIADPROREGULAR') format('svg');
}