@charset "utf-8";
@import url("../webfonts/fonts.css");
*{ margin:0; padding:0;}
strong
{
font-weight:900 !important;
}
.small{font-size:14px;text-dacoration:none;}
img {width:100%; height:auto;}

/*---------------------// Index page Start //-----------------------*/
.wrapper{ width:1000px; margin:0 auto;}
.logo {height: 100px;
width: 930px;
padding-top: 50px;
padding-left: 36px;
overflow: none;
}

.mid {height: 619px;width: 100%;background-color: #FFF;	background-image: -webkit-gradient(	linear,right bottom,left bottom,color-stop(0, #ECECEC),color-stop(0.5, #f6f6f6),
	color-stop(1, #ECECEC));
	background-image: -o-linear-gradient(left, #ECECEC 0%, #f6f6f6 50%, #ECECEC 100%);
	background-image: -moz-linear-gradient(left, #ECECEC 0%, #f6f6f6 50%, #ECECEC 100%);
	background-image: -webkit-linear-gradient(left, #ECECEC 0%, #f6f6f6 50%, #ECECEC 100%);
	background-image: -ms-linear-gradient(left, #ECECEC 0%, #f6f6f6 50%, #ECECEC 100%);
	background-image: linear-gradient(to left, #ECECEC 0%, #f6f6f6 50%, #ECECEC 100%);}


/*-------------------Mid buttons----------------*/
.buttons {height: auto;width: 760px;margin-left: 133px;	padding-top: 70px;overflow:auto;}

ul{list-style-type:none;}

ul li a{float:left;display:block;background-color:#59c2f8;padding:10px;height:140px;width:140px;margin-right:30px;margin-left:0px;margin-bottom:30px;}

ul .last{margin-right:none;}

/*-------------------Bottom Buttons----------------*/
.bottom-btn{width:420px; height:50px;margin-left:404px; margin-top:30px; float:none;}
a .start-btn{
	float: left;
	height: 38px;
	width: 180px;
	background-color: #137bb1;
	font-family: "MYRIADPROREGULAR";
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	color: #FFF;
	text-decoration: none;
	padding-top: 8px;
}

a .quit-btn{float: right;height: 38px;width: 180px;background-color: #137bb1;font-family:"MYRIADPROREGULAR";font-size: 24px;font-weight: bold;text-align: center;vertical-align: middle;color: #FFF;text-decoration: none;padding-top: 8px;}


/*-------------------Footer----------------*/
.footer{text-align: center;height: 20px;width: 100%;margin-top: 50px;font-family:"MYRIADPROREGULAR";font-size: 14px;color: #333;float:left;
}


/*---------------------// Index page End //-----------------------*/





/*---------------------// Clients details page Start //-----------------------*/
.wrapper-client{ width:1000px; margin:0 auto;height:auto;}
.logo2 {
	height: 100px;
	width: 710px;
	padding-top: 50px;
	padding-left: 290px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #666;
	overflow: none;
}

.mid2 {
	height: auto;
	width: 100%;
	float: none;
	background-image: -webkit-gradient(	linear,right bottom,left bottom,color-stop(0, #ECECEC),color-stop(0.5, #f6f6f6),
	color-stop(1, #ECECEC));
	background-image: -o-linear-gradient(left, #ECECEC 0%, #f6f6f6 50%, #ECECEC 100%);
	background-image: -moz-linear-gradient(left, #ECECEC 0%, #f6f6f6 50%, #ECECEC 100%);
	background-image: -webkit-linear-gradient(left, #ECECEC 0%, #f6f6f6 50%, #ECECEC 100%);
	background-image: -ms-linear-gradient(left, #ECECEC 0%, #f6f6f6 50%, #ECECEC 100%);
	background-image: linear-gradient(to left, #ECECEC 0%, #f6f6f6 50%, #ECECEC 100%);
	overflow: auto;
	padding-bottom: 20px;
}


.case-form {
	float: none;
	height: auto;
	width: 1000px;
}

#inputs input
{
    background: #ffffff; 
    margin: 0 0 15px 20px;
}

#inputs input:focus
{
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-color: #137bb1;
	border-right-color: #137bb1;
	border-bottom-color: #137bb1;
	border-left-color: #137bb1;
}
input:focus
{
    border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-color: #137bb1;
	border-right-color: #137bb1;
	border-bottom-color: #137bb1;
	border-left-color: #137bb1;
}
select:focus
{
    border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-color: #137bb1;
	border-right-color: #137bb1;
	border-bottom-color: #137bb1;
	border-left-color: #137bb1;
}
textarea:focus
{
    border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-color: #137bb1;
	border-right-color: #137bb1;
	border-bottom-color: #137bb1;
	border-left-color: #137bb1;
}

.gender{width:20px !important;margin:0px !important;}
.form-head{ width:100%;font:30px "MYRIADPROREGULAR"; color:#137bb1; width:980px; margin:0px 0 0 0; text-align:center;  padding:20px 0 10px 0; font-weight:bold;}

.form-base { height:440px; width:380px; margin:0px auto 0 auto!important; padding:0px; }

.lsection{ float:left; width:369px;}
.lsection span{ display:block; margin:0 0 30px 0; font:17px "MYRIADPROREGULAR"; color:#000}
.lsection span p{
	width: 126px;
	font: 19px "MYRIADPROREGULAR";
	color: #137bb1;
	float: left;
	vertical-align: middle;
	margin-top:7px;
}

.lsection input[type="text"]{float:none !important;}

.gen{
	margin-top:0px !important;
}
.gen-rel{
	margin-top:-2px !important; width:160px !important;
}
.gen-age{
	margin-top:-2px !important; width:100px !important;
}
.gen-width{width:300px !important;margin-left:35px !important;}
.at-age{float:left !important;}

.smoke-width{width:500px !important;margin-left:0px !important;}
.smoke-text{margin-top:-2px !important; width:300px !important;}

input[type="text"]{ background-color:#ffffff !important ;margin:0px 0 0px 0; height:30px; width:230px; padding:0px 6px 0px; font:18px "MYRIADPROREGULAR" !important; rgba(67, 67, 68, 1); display:block;margin-left:5px !important;border: 1px solid #ccc; padding: 3px 3px 3px 6px;float:left;}

input[type="text"]:focus{ background-color:#ffffff !important ;margin:0px 0 0px 0; height:30px; width:230px; padding:0px 6px 0px; font:18px "MYRIADPROREGULAR" !important; rgba(67, 67, 68, 1); display:block;margin-left:5px !important;border: 1px solid #ccc; padding: 3px 3px 3px 6px;float:left;    border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-color: #137bb1;
	border-right-color: #137bb1;
	border-bottom-color: #137bb1;
	border-left-color: #137bb1;}
	
	input[type="number"]{ background-color:#ffffff !important ;margin:0px 0 0px 0; height:30px; width:230px; padding:0px 6px 0px; font:18px "MYRIADPROREGULAR" !important; rgba(67, 67, 68, 1); display:block;margin-left:5px !important;border: 1px solid #ccc; padding: 3px 3px 3px 6px;float:left;}

input[type="number"]:focus{ background-color:#ffffff !important ;margin:0px 0 0px 0; height:30px; width:230px; padding:0px 6px 0px; font:18px "MYRIADPROREGULAR" !important; rgba(67, 67, 68, 1); display:block;margin-left:5px !important;border: 1px solid #ccc; padding: 3px 3px 3px 6px;float:left;    border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-color: #137bb1;
	border-right-color: #137bb1;
	border-bottom-color: #137bb1;
	border-left-color: #137bb1;}

.dob{height:38px;}
.dob input[type="number"]{ background-color:#ffffff !important ;margin:0px 0 0px 0; height:30px; width:225px; padding:0px 6px 0px; font:18px "MYRIADPROREGULAR" !important; padding-bottom: 10px;color:#909090; display:block;margin-left:5px !important;border: 1px solid #ccc; padding: 3px 3px 3px 6px;float:left;}

.dob input[type="number"]:focus{ background-color:#ffffff !important ;margin:0px 0 0px 0; height:30px; width:225px; padding:0px 6px 0px; font:18px "MYRIADPROREGULAR" !important; color:#909090; display:block;margin-left:5px !important;border: 1px solid #ccc; padding: 3px 3px 3px 6px;float:left;    border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-color: #137bb1;
	border-right-color: #137bb1;
	border-bottom-color: #137bb1;
	border-left-color: #137bb1;}

input[type="date"]{ background-color:#ffffff !important ;margin:0px 0 0px 0; height:30px; width:230px; padding:0px 6px 0px; font:18px "MYRIADPROREGULAR" !important; color:#909090; display:block;margin-left:5px !important;border: 1px solid #ccc; padding: 3px 3px 3px 6px;float:none;}

input[type="date"]:focus{ background-color:#ffffff !important ;margin:0px 0 0px 0; height:30px; width:230px; padding:0px 6px 0px; font:18px "MYRIADPROREGULAR" !important; color:#909090; display:block;margin-left:5px !important;border: 1px solid #ccc; padding: 3px 3px 3px 6px;float:none;    border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-color: #137bb1;
	border-right-color: #137bb1;
	border-bottom-color: #137bb1;
	border-left-color: #137bb1;}

span input[type="submit"]{
	background: #137BB1;
	height: 45px;
	width: 170px;
	border: none;
	display: block;
	cursor: pointer;
	margin: 40px 0 0 0;
	float: left;
	margin-left: 0px;
	margin-top: 20px;
	font-family: "MYRIADPROREGULAR";
	font-size: 24px;
	text-color: #FFF;
	color: #FFF;
}

input[type="reset"]{
	background: #137bb1 !important;
	height: 45px;
	width: 170px  !important;
	border: none;
	display: block;
	cursor: pointer;
	margin: 40px 0 0 0;
	float: right;
	margin-left: 0px !important;
	margin-top: 20px !important;
	font-family: "MYRIADPROREGULAR";
	font-size: 24px;
	font-weight: none;
	text-color: #FFF;
	color: #FFF;
	}
 select{background-color:#ffffff !important ;margin:0px 0 0px 0; height:37px; width:240px; padding:0px 6px 0px; font:18px "MYRIADPROREGULAR" !important; color:#909090; display:block;margin-left:5px !important;border: 1px solid #ccc; padding: 6px 3px 3px 6px;}
 
.dob  select{background-color:#ffffff !important ;margin:0px 0 0px 0; height:37px; width:50px; padding:0px 6px 0px; font:18px "MYRIADPROREGULAR" !important; color:#909090; display:block;margin-left:5px !important;border: 1px solid #ccc; padding: 6px 3px 3px 6px;}
.dob #daydropdown{float:left;width:65px;margin-left: 1px !important;}
.dob #monthdropdown{float:left;width:75px;}
.dob #yeardropdown{float:left;width:85px;}
 
 
 #validate{
	text-align: center;
	padding-bottom: 25px;
	font-family: MYRIADPROREGULAR;
	font-size: 16px;
	color:#F00;
	text-decoration: none;
}
#clientInfo{margin-top:5px;}
	
/*---------------------// Clients details page End //-----------------------*/

.login-cont input[type="submit"]{
	background-image: url(../images/edit-btn.png) !important;
	background-repeat: no-repeat !important;
	margin-top: -53px !important;
	height: 38px;
	float: right !important;
	padding: 3px!important;
	border: 1px solid #CCC;
	margin-left: 27px !important;
	display: block;
	width: 38px;
	margin-bottom: 0px;
	margin-right: -29px !important;
	background-color: rgba(173, 174, 176, 1) !important;
	background-position: center center !important;
}



/*---------------------// Medical history page Start //-----------------------*/

.mid3 {
	height: 710px;
	width: 100%;
	float: none;
	margin:0px;
	background-image: -webkit-gradient(	linear,right bottom,left bottom,color-stop(0, #ECECEC),color-stop(0.5, #f6f6f6),
	color-stop(1, #ECECEC));
	background-image: -o-linear-gradient(left, #ECECEC 0%, #f6f6f6 50%, #ECECEC 100%);
	background-image: -moz-linear-gradient(left, #ECECEC 0%, #f6f6f6 50%, #ECECEC 100%);
	background-image: -webkit-linear-gradient(left, #ECECEC 0%, #f6f6f6 50%, #ECECEC 100%);
	background-image: -ms-linear-gradient(left, #ECECEC 0%, #f6f6f6 50%, #ECECEC 100%);
	background-image: linear-gradient(to left, #ECECEC 0%, #f6f6f6 50%, #ECECEC 100%);
}

.mid-medi{
	height: 685px;
	width: 100%;
	float: none;
	margin:0px;
	background-image: -webkit-gradient(	linear,right bottom,left bottom,color-stop(0, #ECECEC),color-stop(0.5, #f6f6f6),
	color-stop(1, #ECECEC));
	background-image: -o-linear-gradient(left, #ECECEC 0%, #f6f6f6 50%, #ECECEC 100%);
	background-image: -moz-linear-gradient(left, #ECECEC 0%, #f6f6f6 50%, #ECECEC 100%);
	background-image: -webkit-linear-gradient(left, #ECECEC 0%, #f6f6f6 50%, #ECECEC 100%);
	background-image: -ms-linear-gradient(left, #ECECEC 0%, #f6f6f6 50%, #ECECEC 100%);
	background-image: linear-gradient(to left, #ECECEC 0%, #f6f6f6 50%, #ECECEC 100%);
}


/*----Login value Start--*/
.login-cont{height: 110px;
width: 100%;
background-color: #e1e1e1;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #666;
border-top-width: 1px;
border-top-style: solid;
border-top-color: #666;}

.section{ float:left; width:730px;margin-left:145px;}
.section span{ width:360px;height:33px;display:block; margin:35px 0 0px 0px; font:17px "MYRIADPROREGULAR"; color:#000;float: left;}
.section span b{
	width: 90px;
	font: 19px "MYRIADPROREGULAR";
	color: #137bb1;
	float: left;
	vertical-align: middle;
	margin-top:7px;
}
/*------Login value End-----*/

.contain{height: 665px;width:100%;}

.btn{
	height: 71px;
	width: 100%;
	margin-top: 10px;
}

.btn input[type="submit"]
{
	height: 71px !important;
	/*background:none !important;*/
	width: 100% !important;
	border: none !important;
	display: block !important;
	cursor: pointer !important;
}
 .client_submit_form1{
	background-image: url(../images/btn_01.png);
	background-repeat: no-repeat;
	background-color:#EBE9E9 !important;
}
 .client_submit_form1:hover{
	background-image: url(../images/btn_01_hover.png);
	background-repeat: no-repeat;
	background-color:#EBE9E9 !important;
}
 .client_submit_form11{
	background-image: url(../images/btn_01_hover.png);
	background-repeat: no-repeat;
	background-color:#EBE9E9 !important;
}



 .client_submit_form2{
	background-image: url(../images/btn_02.png);
	background-repeat: no-repeat;
	background-color:#EBE9E9 !important;
}
 .client_submit_form2:hover{
	background-image: url(../images/btn_02_hover.png);
	background-repeat: no-repeat;
	background-color:#EBE9E9 !important;
}
 .client_submit_form22{
	background-image: url(../images/btn_02_hover.png);
	background-repeat: no-repeat;
	background-color:#EBE9E9 !important;
}




 .client_submit_form3{
	background-image: url(../images/btn_03.png);
	background-repeat: no-repeat;
	background-color:#EBE9E9 !important;
}
 .client_submit_form3:hover{
	background-image: url(../images/btn_03_hover.png);
	background-repeat: no-repeat;
	background-color:#EBE9E9 !important;
}
 .client_submit_form33{
	background-image: url(../images/btn_03_hover.png);
	background-repeat: no-repeat;
	background-color:#EBE9E9 !important;
}




 .client_submit_form4{
	background-image: url(../images/btn_04.png);
	background-repeat: no-repeat;
	background-color:#EBE9E9 !important;
}
 .client_submit_form4:hover{
	background-image: url(../images/btn_04_hover.png);
	background-repeat: no-repeat;
	background-color:#EBE9E9 !important;
}
 .client_submit_form44{
	background-image: url(../images/btn_04_hover.png);
	background-repeat: no-repeat;
	background-color:#EBE9E9 !important;
}




 .client_submit_form5{
	background-image: url(../images/btn_05.png);
	background-repeat: no-repeat;
	background-color:#EBE9E9 !important;
}
 .client_submit_form5:hover{
	background-image: url(../images/btn_05_hover.png);
	background-repeat: no-repeat;
	background-color:#EBE9E9 !important;
}
 .client_submit_form55{
	background-image: url(../images/btn_05_hover.png);
	background-repeat: no-repeat;
	background-color:#EBE9E9 !important;
}




 .client_submit_form6{
	background-image: url(../images/btn_06.png);
	background-repeat: no-repeat;
	background-color:#EBE9E9 !important;
}
 .client_submit_form6:hover{
	background-image: url(../images/btn_06_hover.png);
	background-repeat: no-repeat;
	background-color:#EBE9E9 !important;
}
 .client_submit_form66{
	background-image: url(../images/btn_06_hover.png);
	background-repeat: no-repeat;
	background-color:#EBE9E9 !important;
}


/*input[type="submit"]{
	height: 71px;
	width: 100%;
	border: none;
	display: block;
	cursor: pointer;
	margin: 40px 0 0 0;
	float: left;
	margin-left: 0px;
	margin-top: 20px !important;
	font-family: "MYRIADPROREGULAR";
	font-size: 24px;
	text-color: #FFF;
	color: #FFF;
}*/

.img-box{height:71px;width:71px;float: left;margin: 0px 10px 0px 10px;display: block;}
.btn p{
	padding-top: 11px;
	height: 60px;
	width: auto;}

.btn a{
	height: 71px;
	width: 100%;
	margin-top: 10px;
	font-family: "MYRIADPROREGULAR";
	font-size: 19px;
	font-weight: none;
	color: #137bb1;
	text-decoration: none;
	display:block;
	}
.btn a:hover{
	background-image: url(../images/btn-select-bg.png);
	background-repeat: no-repeat;
	}
	
/*	.btn-select{
	background-image: url(../images/btn-select-bg.png);
	background-repeat: no-repeat;
	}*/
	
/*.btn :hover{
	background-image: url(../images/btn-select-bg.png);
	background-repeat: no-repeat;}*/
.btn :hover p{
	font-family: "MYRIADPROREGULAR";
	font-size: 19px;
	font-weight: none;
	color: #fff;
	text-decoration: none;
	}
	
.btn-select a{
	font-family: "MYRIADPROREGULAR";
	font-size: 19px;
	font-weight: none;
	color: #fff;
	text-decoration: none;
}

/*----Left End--*/
.mid-phsi{
	height: 685px;
	width: 100%;
	float: none;
	margin:0px;
	background-image: -webkit-gradient(	linear,right bottom,left bottom,color-stop(0, #ECECEC),color-stop(0.5, #f6f6f6),
	color-stop(1, #ECECEC));
	background-image: -o-linear-gradient(left, #ECECEC 0%, #f6f6f6 50%, #ECECEC 100%);
	background-image: -moz-linear-gradient(left, #ECECEC 0%, #f6f6f6 50%, #ECECEC 100%);
	background-image: -webkit-linear-gradient(left, #ECECEC 0%, #f6f6f6 50%, #ECECEC 100%);
	background-image: -ms-linear-gradient(left, #ECECEC 0%, #f6f6f6 50%, #ECECEC 100%);
	background-image: linear-gradient(to left, #ECECEC 0%, #f6f6f6 50%, #ECECEC 100%);
}

/*----Right Start--*/
.right{width: 770px;
height: auto;
float: right;
padding: 0 0 10px 0;}


.right-risk{
width: 775px;
float: right;
padding: 0 0 10px 10px;
}
.right-head{
	width: 450px;
	color: #137bb1;
	margin-top: 15px;
	margin-left: 10px;
	font-weight: bold;
	font-family: "MYRIADPROREGULAR";
	font-size: 27px;
}
.right-section{ float:left; width:100%;margin-left:0px;height:100%;}
.right-section-medi{height:740px;}

.right-section span{ width:760px;height:auto;display:block; margin-top:10px;margin-left:10px;font:15px "MYRIADPROREGULAR"; color:#000;float: left;}
.right-section span ol{
	width: 600px;
	font: 17px "MYRIADPROREGULAR";
	color: #137bb1;
	float: left;
	vertical-align: middle;
	margin-top:15px;
	margin-right:7px;
	margin-left:20px;
}
.right-section span p{
	width: 600px;
	font: 18px "MYRIADPROREGULAR";
	color: #137bb1;
	float: left;
	margin-top:15px;
}

.right-section span p strong{
	font-weight:900;
}

.right-section textarea{ background-color:#ffffff !important ;margin:0px 0 0px 0; height:100px; width:730px; padding:0px 6px 0px; font:16px "MYRIADPROREGULAR" !important; color:#333; display:block;margin-left:0px !important;border: 1px solid #ccc; padding: 3px 3px 3px 6px;}

.right-section span .new{
	width: 400px;
	font: 17px "MYRIADPROREGULAR";
	color: #137bb1;
	float: left;
	margin-top:0px !important;
}

/*----Right End--*/

.client_submit{margin-left:580px !important; margin-top:10px !important;}
.footer-top{margin-top:70px !important;}

#no{font: 16px "MYRIADPROREGULAR";}
#yes{font: 16px "MYRIADPROREGULAR";}

/*---------------------// Medical history page End //-----------------------*/






/*---------------------// Physical Activity page Start //-----------------------*/
.right-section input:focus{ border-color:#137bb1;}
.physi-text-age{ width:70px !important;
margin-top: -8px !important;}
.physi-text{ width:70px !important;}
/*---------------------// Physical Activity page End //-----------------------*/






/*---------------------// Risk factor page Start //-----------------------*/
.risk-mid{	height: 790px;
	width: auto;
	float: none;
	margin:0px;
	background-image: -webkit-gradient(	linear,right bottom,left bottom,color-stop(0, #ECECEC),color-stop(0.5, #f6f6f6),
	color-stop(1, #ECECEC));
	background-image: -o-linear-gradient(left, #ECECEC 0%, #f6f6f6 50%, #ECECEC 100%);
	background-image: -moz-linear-gradient(left, #ECECEC 0%, #f6f6f6 50%, #ECECEC 100%);
	background-image: -webkit-linear-gradient(left, #ECECEC 0%, #f6f6f6 50%, #ECECEC 100%);
	background-image: -ms-linear-gradient(left, #ECECEC 0%, #f6f6f6 50%, #ECECEC 100%);
	background-image: linear-gradient(to left, #ECECEC 0%, #f6f6f6 50%, #ECECEC 100%);}
.risk-contain{height:790px !important;}
.measured-cont{width:760px;margin-left:0px;height:auto;}
.measured-left{width:340px;height:auto;float:left;}
.measured-left span{ width:340px;height:auto;display:block; margin-top:13px;margin-left:10px;font:17px "MYRIADPROREGULAR"; color:#000;float: left;}
.measured-left span p{
	width: 190px;
	font: 19px MYRIADPROREGULAR;
	color: #137bb1;
	float: left;
	margin-top:15px;
	padding-top:6px;
}

.measured-right{width:320px;height:auto;float:left;margin-left:20px;}
.measured-right span{ width:315px;height:auto;display:block; margin-top:13px;margin-left:10px;font:17px "MYRIADPROREGULAR"; color:#000;float: left;}
.measured-right span p{
	width: 200px;
	font: 19px "MYRIADPROREGULAR";
	color: #137bb1;
	float: left;
	margin-top:0px;
	padding-top:6px;
}
.risk-footer{margin-top:84px !important;}

/*---------------------// Risk factor page End //-----------------------*/






/*---------------------// Body Compsition page Start //-----------------------*/
.comp-mid-new{height:695px !important;}
.comp-contain-new{height:540px !important;}
.comp-cont{width:760px;margin-left:0px;height:140px;margin-top:10px;}

.compo-text{width:60px !important}

.comp-left{width:265px;height:auto;float:left;}
.comp-left span{ width:255px;height:auto;display:block; margin-top:13px;margin-left:10px;font:17px "MYRIADPROREGULAR"; color:#000;float: left;}
.comp-left span p{
	width: 152px;
	font: 17px "MYRIADPROREGULAR";
	color: #137bb1;
	float: left;
	margin-top:15px;
	padding-top:7px;
}

.comp-mid{width:200px;height:auto;float:left;}
.comp-mid span{ width:190px;height:auto;display:block; margin-top:13px;margin-left:10px;font:17px "MYRIADPROREGULAR"; color:#000;float: left;}
.comp-mid span p{
	width: 84px;
	font: 17px "MYRIADPROREGULAR";
	color: #137bb1;
	float: left;
	margin-top:15px;
	padding-top:7px;
}
.value{width:25px;float:left;margin-left:2px;margin-top:10px;color:#666;}
.value-physi{width:25px;float:left;margin-left:3px;margin-top:20px;color:#666;}
.value-risk{width:25px;float:left;margin-left:3px;margin-top:5px;color:#666;}


.comp-right{width:270px;height:auto;float:left;margin-top:70px;}
.comp-right span{ width:260px;height:auto;display:block; margin-top:13px;margin-left:10px;font:17px "MYRIADPROREGULAR"; color:#000;float: left;}
.comp-right span p{
	width: 173px;
	font: 17px "MYRIADPROREGULAR";
	color: #137bb1;
	float: left;
	margin-top:15px;
	padding-top:7px;
}


.comp-cont2{width:470px;height:100px;margin-top:40px;margin-left:265px;}
.topmargin{margin-top:25px !important;}
.topmargin-third{margin-top:50px !important;}

.margin-left{margin-left:60px !important;}
.margin-right{margin-left:150px !important;}

/*---------------------// Body Compsition page End //-----------------------*/


/*---------------------// mediations page Start //-----------------------*/
.medi-contain-new{height: 800px !important;
float: left;}
.mid-medi{height: 800px !important;
float: left;}
.select-margin{margin-top:30px !important;margin-left:0px !important; width:300px !important;}
.list{
	width: 100%;
	height: auto;
	overflow:auto;
}

.list-margin{
	margin-bottom:15px;
}

.list span{ width:350px;height:auto;display:block; margin-top:25px;margin-left:10px;font:17px "MYRIADPROREGULAR"; color:#000;float: left;}
	
.list span p{	width: 350px;font: 18px "MYRIADPROREGULAR";color: #137bb1;float: left;
	margin-top:15px;}

.list textarea{ background-color:#ffffff !important ;margin:0px 0 0px 0; height:100px; width:730px; padding:0px 6px 0px; font:18px "MYRIADPROREGULAR" !important; color:#909090; display:block;}


.selected{width:350px;height:auto;background-color:#FFF;float:left;margin-top:30px;border: 1px #CDCDCD solid;margin-left: 39px;}
.selected-head{width:335px;height:27px;font: 19px "MYRIADPROREGULAR";color: #137bb1;padding:5px;padding-left:10px;background-color:#CCC;}

.selected select{background-color:#ffffff !important ;margin:0px !important; height:100px !important; width:350px; padding:0px  !important; font:18px "MYRIADPROREGULAR" !important; color:#909090; display:block;border: 1px solid #ccc;}

.selected ul{background-color:#ffffff !important ;margin:0px !important; height:100px !important; width:350px; padding:0px  !important; font:18px "MYRIADPROREGULAR" !important; color:#909090; display:block;border: 1px solid #ccc;overflow-y: auto;}

.selected-value{width:350px;height:101px;margin:0px;padding:0px;}

.btnDelrb, .btnDel{	background: #137bb1 !important;
	height: 25px;
	width: 100px  !important;
	border: none;
	display: block;
	cursor: pointer;
	margin: 5px !important;
	float: left;
	margin-left: 0px;
	font-family: "MYRIADPROREGULAR";
	font-size: 16px;
	text-color: #FFF;
	color: #FFF;}
 
.selected-content{width:335px;height:auto;font: 19px "MYRIADPROREGULAR";color: #137bb1;padding:5px;padding-left:10px;background-color:#fff;overflow:auto;}
.list .selected a{
	text-decoration: none;
	color: #333;
	font-family: "MYRIADPROREGULAR";
	font-size: 18px;
	font-weight: normal;
}
a .selected-value{width:334px;height:27px;font: 18px "MYRIADPROREGULAR";padding:5px;padding-left:10px;background-color:#EEE;text-dacoration: none;border: 1px #CDCDCD solid;}

.footer-medic{margin-top:30px !important;}

.clonedInput input[type="text"], .clonedInput1 input[type="text"]{
	background-image: url(../images/option_bg.png) !important;
	margin-top:2px !important;
	margin:0px;
	height: 30px;
	width: 212px !important;
	font: 18px "MYRIADPROREGULAR" !important;
	color: #666;
	display: block;
	margin-left: 5px !important;
	padding: 0px 0px 3px 9px;
	float: left;
	background-repeat: no-repeat;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}

.clonedInput input[type="button"], .clonedInput1 input[type="button"]{
	background-image: url(../images/option_close.png) !important;
	margin-top:2px !important;
	margin:0px;
	height: 30px;
	width: 29px;
	font: 18px "MYRIADPROREGULAR" !important;
	color: #909090;
	display: block;
	padding: 0px;
	float:left !important;
	background-repeat: no-repeat;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
/*---------------------// mediations page End //-----------------------*/


/*---------------------// Screening page Start //-----------------------*/
.screen-contain{padding-bottom:25px !important;height: 800px !important; }
.screen-para{width:760px;height:75px;font: 18px "MYRIADPROREGULAR";color: #137bb1;text-dacoration: none;margin-top:20px;margin-left:10px;}
.screen-para-proceed{width:760px;height:15px;font: 18px "MYRIADPROREGULAR";color: #137bb1;text-dacoration: none;margin-top:0px;margin-left:10px;}
.screen-data{width:690px; height:503px; font: 18px "MYRIADPROREGULAR";color: #137bb1;text-dacoration: none;margin-top:20px;margin-left:20px;background-color:#ddd;padding:20px;overflow:auto;}

.screen-footer{margin-top:0px !important;}
/*---------------------// Screening page End //-----------------------*/

.screen-left{width:440px; height:auto; font: 18px "MYRIADPROREGULAR";color: #137bb1;text-dacoration: none;float:left;}



.screen-right{width: 200px;height: 150px;background-color: none;font: 18px "MYRIADPROREGULAR";color: #137bb1;text-dacoration: none;float: left;margin-top: 200px;background-image: url(../images/risk-score-bg.png);background-repeat: no-repeat;}

.score-head{color: #0c5a82;text-dacoration: none;font-family: "MYRIADPROREGULAR";font-size: 25px;text-align: center;margin-top: 14px;}
.score{color: #0c5a82;	text-dacoration: none;font-family: "MYRIADPROREGULAR";font-size: 70px;text-align: center;margin-top:9px;}



.screen-content-box{width:440px;height:25px;font: 18px "MYRIADPROREGULAR";color: #137bb1;text-dacoration: none;margin-top:2px;margin-left:15px;float:none;padding:5px;}
.screen-head{width:290px;height:25px;float:left;font-weight:bold;margin-top:0px}
.screen-value{width:150px;height:25px;float:left;}


.riskfactor{width:300px;height:25px;font: 15px "MYRIADPROREGULAR";color: #137bb1;text-dacoration: none;margin-top:0px;margin-left:0px;float:left;}
.riskfactor-value{width:300px;height:25px;font: 15px "MYRIADPROREGULAR";color: #137bb1;text-dacoration: none;margin-left:15px;float:none;margin-left:15px;}

.red-text{font: "MYRIADPROREGULAR";color: #C00 !important;}
.green-text{font: "MYRIADPROREGULAR";color: #0C6 !important;}
.white-text{font: "MYRIADPROREGULAR";color: #FFF !important;}
.orange-text{font: "MYRIADPROREGULAR";color: #fa8d00 !important;}

.main-btn{width: 320px;
float: none;
margin-left: 510px;;}



.fixed {
width: 100%;
height:600px !important;
/*left: 175px;*/
position: fixed;
top: 0;
z-index: 99;
}

.left{
	width: 215px;
	height:600px;
	background-color: #ebe9e9;
	float:left;
	position: absolute;
	top:264px;
	bottom: 0;
	-webkit-box-shadow: 8px 10px 8px -4px rgba(0,0,0,0.73);
-moz-box-shadow: 8px 0px 10px -4px rgba(0,0,0,0.73);
box-shadow: 8px 0px 10px -4px rgba(0,0,0,0.73);
}
.form_print input[type="button"]{
	background-image: url(../images/Print-icon-30x30.png);
	background-repeat: no-repeat;
	margin-top: 10px !important;
	margin-right: 20px !important;
	margin: 0px;
	height: 40px;
	width: 40px;
	font: 18px "MYRIADPROREGULAR" !important;
	color: #ffffff;
	display: block;
	padding: 0px;
	float: right;
	background-color: #137BB1;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-position: center center;
}
 
.form_new input[type="submit"]{
margin-top: 10px !important;
margin-left: 20px !important;
margin-bottom: 0px;
margin-left: 0px;
height: 40px;
width: 150px !important;
font: 18px "MYRIADPROREGULAR" !important;
color: #FFF;
display: block;
padding: 0px;
float: left !important;
background-color: #137BB1;
border-style: none;
background-position: center center;
}

.disc{width:950px;display:none;margin-top:250px;haight:auto;}
.disc-head{font: 16px "MYRIADPROREGULAR" !important;color: #000;text-align:left;}
.tp_mrgn{margin-top: 20px; font-weight:bold;}
.disc-text{font: 12px "MYRIADPROREGULAR" !important;color: #000;text-align:left;text-dacoration:none; margin:7px 0;}

.main-sign{width:950px;margin-top:90px;font: 20px "MYRIADPROREGULAR" !important;color: #000;text-align:left;float:left;display:none;position:absolute;top:1025px;}
.tester-sign{float:left;}
.date-sign{float:right;}
   
 .new-test{width:130px !important;float:left !important;} 
 
 .comp-right .gen{text-align:right;}

/*--------------@ media for print start--------------*/
@media screen
{
.printOnly {display: none;}
}
@media print{
    
* {-webkit-print-color-adjust:exact;}
.logo {margin-left: 90px;}
.left{display: none  !important;}
.right{width: 10px;float: left;margin-top:15px !important;}
.displayOnly {display: none !important;}
			
.login-cont {width: 100%;border:none;padding-left: 95px !important;background:none;height:40px !important;}
section{height:50px;}
.section span{margin-top:10px !important;}		
.screen-para{width:950px !important;height:30px !important;}
.screen-para-proceed{height:15px !important;}		
.screen-left{width:600px  !important; height:400px !important;font: 25px "MYRIADPROREGULAR";color: #137bb1;text-dacoration: none;float:left;padding:10px;}
.screen-content-box{width:700px !important;font: 22px "MYRIADPROREGULAR";height:24px;}
.screen-head{width:450px !important;}
.screen-value{width:150px !important;}
.riskfactor{width:200px;height:25px;font: 15px "MYRIADPROREGULAR";color:#333;text-dacoration: none;float:left;}
	input[type="button"]{display:none;}
	input[type="submit"]{display:none;}
.form_new{display:none;}
.form_print{display:none;}
				
.screen-right{width: 150px;height: 120px;background-color: none;font: 18px "MYRIADPROREGULAR";color: #137bb1;text-dacoration: none;float: left;margin-top: 230px;background-image: url(../images/risk-score-bg-print.png);background-repeat: no-repeat;}

.score-head{color:#0c5a82 !important;text-dacoration: none;font-family: "MYRIADPROREGULAR";font-size: 30px;text-align: center;margin-top: 14px;}
.score{color:#0c5a82 !important;text-dacoration: none;font-family: "MYRIADPROREGULAR";font-size: 70px;text-align: center;margin-top:12px;}						
			
.right-head{text-align:center;color: #000000;margin-left: 280px;margin-top: 35px;font-family: "MYRIADPROREGULAR";font-size: 40px;}
.screen-data{width:950px !important; height:100%; font: 25px "MYRIADPROREGULAR";color: #000000;text-dacoration: none;margin-top:0px; margin-bottom: 0px; margin-left:0px!important;background-color:#ddd;padding:20px; padding-bottom: 0px; overflow:auto;}
.disc{display:block;}
			
.right .disc{margin-top:610px;width:1000px !important;margin-left:20px;}
.right .disc-head{font: 20px "MYRIADPROREGULAR" !important;color: #000;text-align:left;float:left;width:160px !important;}
.right .disc-text{font: 16px "MYRIADPROREGULAR" !important;color: #000;text-align:left;text-dacoration:none; margin-top:5px;margin-left:5px;float:left;width:800px !important;}

.main-sign{display:block;}
#edit-btn{display:none}
.mid3{height: auto !important; padding-bottom:100px;background:none;}
/*.screen-contain{height: auto ; background-color: #000!important; float:left;}*/
.contain{height: auto !important;padding-bottom:10px !important;}
			}

		
/*--------------@ media for print End---------------*/

@media (max-width: 1024px) {
.fixed {left:0px !important;}
/*----welcome page----------
ul li a {height: 110px;width: 110px;}
.buttons {width: 640px;margin-left: 70px;}
.bottom-btn {margin-left: 165px;}*/
.mid {height: 580px;}
.contain {height: 610px;}
.mid-phsi{height: 623px;}
.mid3{height: 610px;}
.risk-mid {height: 791px !important;}
.comp-mid-new {height: 613px !important;}
.screen-data {width: 690px;height: 495px;}

#logo{display:none;}
.left {top: 88px;}

.login-cont {height: 85px;}
.section span {margin: 29px 0px 0px;}

/*----welcome page----------*/
.logo {height: 80px;padding-top: 30px;}
.buttons {padding-top:35px;}
.footer {margin-top:30px;}

/*----Client details----------*/
.mid2 {height: 580px !important;}

/*----physical activity----------*/
.right-section textarea	{height:70px;}
.right-section span p {margin-top:5px;}

/*----risk factors----------*/
.measured-left,.measured-right span {margin-top:9px;}

/*----medication----------*/
.mid-medi {height: 640px !important;}
.medi-contain-new {height:600px !important;}
.medi-contain-new .right {height: 600px;}
.right-section-medi {height: 580px;}
.selected {height:109px;margin-top:26px;}
.selected-value {height: 70px;}
.selected-value ul {height: 70px !important;}
.list span {margin-top:10px;}
.list span p {width: 360px;}

.medi-contain-new textarea{height:45px;}

/*-----------------screening----------*/
.screen-contain {height: 630px !important;}
.screen-para {margin-top: 7px;height:50px;width:700px;}
.screen-para-proceed{height:20px;margin-top:30px;}
.screen-content-box{height:16px;}
.screen-data {height: 395px;width:680px;padding:0px !important;margin-top:40px !important;}
.screen-right{margin-top:110px;background-image: url(../images/risk-score-bg.png);background-repeat: no-repeat;}
.screen-left{height:370px !important;}

#datetimepicker2{ display: none;}
}

@media (max-width: 768px) {
.wrapper {width:100% !important;}
.logo { width: 700px; height:70px; padding-top: 30px;}
#logo{display:block;}
.logo img{margin:0px; height:67%;}
.section {margin-left:30px;}
.section input[type="text"] {width: 190px !important;}
.section span {width: 329px !important;}

/*----welcome page----------*/
ul li a {height: 110px;width: 110px;}
.buttons {width: 640px;margin-left: 70px;}
.bottom-btn {margin-left: 165px;}
.mid {height: 826px;}

/*----Client details----------*/
.mid2 {height:805px !important;}
.form-head {width: 768px;}

/*----medical history---------*/
.mid3 {width:100%;height: 740px;}
.mid-phsi{height: 740px;}
.left{top: 188px;}
.right {width: 535px;}	
.right-section{width: 530px;}
.right-section span {width: 510px;}
.right-section span ol{width: 380px;}

.right-section textarea {width:485px;}
.right-section span .new {width: 280px;}

/*----physical activity----------*/
.mid-medi {height: 1000px !important;}
.right-section .phy ol{width: 360px;}

/*----risk factors----------*/
.right-risk {width: 520px;height: 600px;float: left;margin-left: 215px;}
.right-section span p {width: 417px;}
.gen-width {margin-left:0px !important;width:270px !important;}
.gen-rel {width: 145px !important;}
.at-age {width: 215px !important;margin-left:20px !important;}

.measured-cont{width:540px;margin-left:0px;height:auto;}
.measured-left{width:260px;}
.measured-left span {width:270px !important;}
.measured-left span p {width: 113px !important;}
.gen-new {margin-top: -10px !important;}

.measured-right { width: 240px;margin-left: 20px !important;}
.measured-right span {width:230px !important;}
.measured-right span p {width: 100px !important;}

.risk-mid{height:810px !important;}
.risk-contain{height:750px !important;}

/*----body compsition----------*/
.comp-mid-new {height: 740px !important;}
.comp-cont {width: 520px;height:180px;}
.comp-left {width: 180px;}
/*.comp-left span {width: 210px !important;}*/
.comp-left span {width: 187px !important;}
.comp-left span p {width: 148px !important;}

.comp-mid {width: 183px !important;}
.comp-mid .spanmargin {margin-top: 40px !important;}
.comp-mid span{width: 200px !important;}
.comp-mid span p {width: 51px !important;}

.margin-right {margin-left: 50px !important;}
.margin-left { margin-left: 30px !important;}
.comp-right { width: 156px;}
.comp-right span {width: 130px !important;margin-left: 33px;}
.comp-right span p {width: 122px !important;}

.comp-cont2 {width: 349px !important;margin-left: 148px !important;}
.comp-cont2 .comp-mid {width: 183px !important;}
.comp-cont2 .comp-mid .spanmargin {margin-top: 40px !important;}
.comp-cont2 .comp-mid span{width: 200px !important;}
.comp-cont2 .comp-mid span p {width: 83px !important;}

.comp-cont2 .comp-right { width: 156px;}
.comp-cont2 .comp-right span {width: 130px !important;margin-left: 62px;}
.comp-cont2 .comp-right span p {width: 120px !important;text-align: left;margin-left:5px;}
.topmargin {margin-top: 0px !important;}
.topmargin-third { margin-top: 24px !important;}

/*----medication----------*/
.screen-contain {height: 740px !important;}
.list{height:220px;}
.list select{width:350px;margin-left: 0px !important;margin-top: 30px;}
.list-margin {margin-bottom: 0px;}
.selected {margin-left: 20px;margin-top: 12px;}
.list span { margin-left: 20px;}
.mid-medi {height: 870px !important;}
.screen-para {width: 520px;}
.screen-para-proceed {width: 520px;height:20px;margin-top:25px;}

.screen-data {width: 490px;height: 430px;padding: 10px !important;margin-left:10px;margin-top:50px !important;}
.screen-left {width: 320px;float: left !important;}
.screen-content-box  {width: 320px;margin-top:0px; margin-left:0px; margin-bottom:0px;line-height: 17px;height: 20px !important;}
.margin-family{height:37px !important}
.screen-right {	width: 150px;height: 120px;float: left !important;margin-top: 130px !important;;margin-left: 12px !important;	background-image: url(../images/risk-score-bg-print.png);background-repeat: no-repeat;}
.score {height:100px  !important;margin-top: -4px !important;padding-top: 0px !important;color:#0c5a82; }
.score-head{font-size: 19px; color:#0c5a82; margin-top:10px !important;}
.screen-head {width: 235px;}
.screen-value {width: 70px;margin-left: 10px;}

.selected ul{background-color:#ffffff !important ;margin:0px !important; height:70px !important; width:350px; padding:0px  !important; font:18px "MYRIADPROREGULAR" !important; color:#909090; display:block;border: 1px solid #ccc;overflow-y: scroll;}

.selected-value{width:350px;height:80px;margin:0px;padding:0px;}

#datetimepicker2{ display: none;}
}




input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=date]::-webkit-outer-spin-button,
input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}



/*0-----------------alert---------------------------*/
#CustomAlert {
visibility: hidden;
position: absolute;
z-index: 999;
top: 200px;
left: 200px;
width: 100px;
height: 50px;
border-style: solid;
border-width: 5px;
border-color:#CCC;
cursor: default;
filter: alpha(opacity=90);
background-color:#eee;
text-align: center;
}
#CustomAlertSampleokButton {
background-color:rgb(218, 216, 216);
font-color: #000000;
font-size: 9pt;
font-family: arial;
width: 70px;
height: 20px; 
}
#CustomAlertTitle {
background-color: dimgray;
font-family: arial;
font-size: 9pt;
color: #FFFFFF;
font-weight: bold;
}
#CustomAlertMessage {
font-family: arial;
font-size: 11pt;
color: #000000;
font-weight: normal;
padding: 18px;
}
/*--------------------------------*/


#confirmBox
{
    display: none;
    background-color: #ADABAB;
    border: 4px solid #726F6F;
    position: fixed;
    width: 320px;
    left: 50%;
    margin-left: -150px;
    padding: 6px 8px 8px;
    box-sizing: border-box;
    text-align: center;
	font-family:MYRIADPROREGULAR;
}
#confirmBox .button {
    background-color: #2F81CE;
    display: inline-block;
    border-radius: 3px;
    border: 1px solid #aaa;
    padding: 5px;
    text-align: center;
    width: 80px;
    cursor: pointer;
	margin:5px;
	font-family:MYRIADPROREGULAR;
	color:#FFF;
}
#confirmBox .button:hover
{
    background-color: #ddd;
	color:#000;
}
#confirmBox .message
{
    text-align: center;
    margin-bottom: 10px;
	margin-top: 5px;
	font-family:MYRIADPROREGULAR;
	color:#FFF;
}

#datetimepicker2{ display: block;}