/* 
 * overlay.css v1.0.0
 * Copyright 2014 Joah Gerstenberg (www.joahg.com)
 */

.overlay {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  bottom: 0; 
  right: 0; 
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0);
  background-color:rgba(107,107,107,0.4);
  cursor: pointer;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.overlay .modal {
  cursor: auto;
  position: absolute;
  z-index: 11;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 500px;  
  height: 540px; display:block !important;
  padding:30px; 
  background-color:rgb(255,255,255); text-align:center; font: 16px "MYRIADPROREGULAR";
}

.overlay.shown {
  opacity: 1;
}
.m_bt_15{margin:15px 0;}
#popUp1.overlay .modal{height:370px;}