@charset "utf-8";
/* CSS Document */
body{margin:0; padding:0;}
img{width:auto;}
.clear{clear:both;}
.container{height:auto; margin-bottom:20px;}
.container table{padding:0 10px;}
.graph_table td label{font: 16px "MYRIADPROREGULAR"; display: inline-block; margin-bottom:10px;}
.graph_table td input[type="text"]{float:none; display:inline-block;}
.graph_table td{font: 15px "MYRIADPROREGULAR"; padding:10px 5px;}
.graph_table td select{margin-left:0 !important; width:95%; max-width:242px; display:inline-block;}
.name_field_td input[type="text"],.strength_table .name_field_td input[type="text"]{width:435px;}
.graph_table td.sml_text_field input[type="text"]{width:120px} 
.name_field_td img{margin-top:8px; margin-right:10px; width:30px;}
.graph{height:500px; width:830px; float:right; box-shadow:0 0 7px rgba(0,0,0,0.2); margin:12px; padding:5px; background:#fff; position:relative; overflow:hidden;}
.verticle_lines{margin:0; padding:0; list-style:none; float:right;}
.verticle_lines li{float:right; background:#f8babb; margin-left:2px; height:500px; width:25px; font-size: 14px; text-align:center; line-height:460px;}
.verticle_lines li span{transform: rotate(-90deg); display: inline-block; position:relative; z-index:1;}
.verticle_lines li:nth-child(2){background:#f7c5ba;}
.verticle_lines li:nth-child(3){background:#fee4c3;}
.verticle_lines li:nth-child(4){background:#fff5c2;}
.verticle_lines li:nth-child(5){background:#eff7bb;}
.verticle_lines li:nth-child(6){background:#eafec1;}
.verticle_lines li:nth-child(7){background:#dbffc2;}
.verticle_lines li:nth-child(8){background:#c8fec2;}
.verticle_lines li:nth-child(9){background:#c3fece;}
.verticle_lines li:nth-child(10){background:#c3ffe6;}
.verticle_lines li:nth-child(11){background:#c2f3fa;}
.verticle_lines li:nth-child(12){background:#c1ebf9;}
.verticle_lines li:nth-child(13){background:#bbdef2;}
.verticle_lines li:nth-child(14){background:#c3defc;}
.verticle_lines li:nth-child(15){background:#c3defb;}
.verticle_lines li:nth-child(16){background:#b8c9fd; width:368px; position:relative;}
.verticle_lines li .graph_dashed_line{position:absolute; bottom: -32px; right:60px;}
.verticle_lines li .graph_dashed_line .graph_dash_text{position: absolute; left: -15px; bottom: 74px;}
.verticle_lines li .graph_dashed_line span{transform:rotate(0); left: -26px; bottom: -20px;}
.verticle_lines li .graph_dashed_line .graph_dashed_line{width: 38px; background: url(../images//graph_dashed_line.png) bottom center no-repeat; position: absolute; bottom: 227px; left: -22px; height: 292px; border-radius: 18px 27px 0 0;}
.verticle_lines li .graph_dashed_line .custom1 {height:110px; width:35px; background:none; position: absolute; z-index: 5000; right: 8px; bottom:0px;}
.verticle_lines li .graph_dashed_line .custom2 {height:110px; width:38px; background:none; position: absolute; z-index: 5000; right: 35px; bottom:0px;}
.verticle_lines li .graph_dashed_line .custom3 {height:110px; width: 44px; background:none; position: absolute; z-index: 5000; right: 68px; bottom:0px;}
.verticle_lines li .graph_dashed_line .custom4 {height:160px; width: 44px; background:none; position: absolute; z-index: 5000; right:-1px; bottom:0px;}
.verticle_lines li .graph_dashed_line .custom5 {height:160px; width: 44px; background:none; position: absolute; z-index: 5000; right:27px; bottom:0px;}
.verticle_lines li .graph_dashed_line .custom6 {height:160px; width: 44px; background:none; position: absolute; z-index: 5000; right:67px; bottom:0px;}
.verticle_lines li .graph_dashed_line .custom4 .red_dot {position: absolute;left: -109px; margin-left:-45px;top:16px; border-bottom: 3px solid #d70707;text-align: center;width: 112px;height: 88px;}
.verticle_lines li .graph_dashed_line .custom5 .red_dot {position: absolute;left: -109px;margin-left:-45px;top:16px; border-bottom: 3px solid #d70707;text-align: center;width: 112px;height: 88px;}
.verticle_lines li .graph_dashed_line .custom6 .red_dot {position: absolute;left: -109px;margin-left:-45px;top:16px; border-bottom: 3px solid #d70707;text-align: center;width: 112px;height: 88px;}
.verticle_lines li .graph_dashed_line .custom4 .red_dot img {position: absolute; top:77px; left: 22px;}
.verticle_lines li .graph_dashed_line .custom5 .red_dot img {position: absolute; top:77px; left: 22px;}
.verticle_lines li .graph_dashed_line .custom6 .red_dot img {position: absolute; top:77px; left: 22px;}
.verticle_lines li .graph_dashed_line .custom6:last-child .red_dot{margin-right: 100px; width: 56px; margin-left: 0;}
.verticle_lines li .graph_dashed_line .custom6:last-child .red_dot img{padding-left: 0; left: 0;}
input[type="text"].cus-input {background-color:#ddd !important;}

.verticle_lines li .graph_dashed_line .custom1 .blue_dot, .verticle_lines li .graph_dashed_line .custom2 .blue_dot, .verticle_lines li .graph_dashed_line .custom3 .blue_dot {position: absolute; bottom: -131px;left: -15px;}
.bottom_values{position: absolute; bottom: 100px; right:5px; left:60px; border-bottom: 2px solid #606060;}
.bottom_values li{float:right; width:25px; margin-left: 2px; line-height:185px; position:relative;}
.bottom_values li .blue_dot{position: absolute; bottom:-124px; left:1px;}
.bottom_values li span{transform: rotate(-90deg); display: inline-block; width: 170px; margin-left: -73px; line-height: 25px; text-align: left; height: 25px; font-size: 12px;}
.graph_pulse_box{position:absolute; height:290px; right:5px; left:60px; top:20px; border-bottom: 2px solid #000; border-left: 2px solid #000;}
.graph_pulse_box span{transform: rotate(-90deg); display: inline-block; font-size: 15px; left: -52px; top: 110px; position:absolute;}
.graph_pulse_box img{float:left; height:290px; width:100%;}
.red-icon {background: url(../images//red_dot.png) center no-repeat; }
.pulse_text{position: absolute; top: 70px; right: 210px; font-size: 20px; font-weight: bold; text-align: center; line-height: 30px;}
.plot_btn{background: #c60003; height: 35px; border: none; cursor: pointer; margin: 480px 0 0 5px; /*float: left;*/ font-family: "MYRIADPROREGULAR"; font-size: 18px; color: #FFF; padding: 0 25px; border-radius: 20px;box-shadow: 1px 1px 1px rgb(0, 0, 0); outline: none;}
.drop_main{display:inline-block; width:92%; margin:0 4%;}
.drop_main ul{display:inline-block; width:100%; text-align:center; position:relative;}
.drop_main ul li{display:block; width:auto; text-align:center; margin-bottom:50px; padding:15px; position:absolute; left:0; right:0;}
.drop_main ul li a{font: 19px "MYRIADPROREGULAR"; color: #fff; text-decoration: none; text-align: center; float:none; display: table-cell; vertical-align: middle; word-break:break-word; position:relative; z-index:3;}
.drop_main ul li:nth-child(2) a{left:170px; z-index:2;}
.drop_main ul li:nth-child(3) a{left:340px; z-index:1;}
.drop_main ul li ul.sub_menu{margin:20px 0 0 0; padding:0; display:none; position:relative;}
.drop_main ul li ul.sub_menu:before {content: ''; width: 0; height: 0; border-left: 8px solid transparent; border-right: 8px solid transparent; border-top: 8px solid #ff5a59; position: absolute; top:-20px; left: 72px;}
.drop_main ul li:nth-child(2) ul.sub_menu:before{left:242px;}
.drop_main ul li:nth-child(3) ul.sub_menu:before{left:412px;}
.drop_main ul li ul.sub_menu li{width:auto; margin-bottom:0; margin-right:10px; padding:0; float:left; position:relative; left:auto;}
.drop_main ul li ul.sub_menu li:last-child{margin-right:0;}
.drop_main ul li ul.sub_menu li:nth-child(2) a,.drop_main ul li ul.sub_menu li:nth-child(3) a{left:auto;}
.drop_main ul li ul.sub_menu li a {background-color:rgba(255, 90, 89, 0.7);}
.drop_main ul li ul.sub_menu li a:hover {background-color:#ff5a59;}
.drop_main ul li ul.sub_menu li:first-child a,.drop_main ul li ul.sub_menu li:nth-child(2) a,.drop_main ul li ul.sub_menu li:nth-child(3) a{left:auto !important;}
.drop_main ul li ul.sub_menu li .inner_sub_menu{width:500px; margin-bottom:0; margin-top:20px; position:absolute; display:none;}
.drop_main ul li ul.sub_menu li .inner_sub_menu:before {content: ''; width: 0; height: 0; border-left: 8px solid transparent; border-right: 8px solid transparent; border-top: 8px solid rgba(255, 90, 89, 0.66); position: absolute; top:-20px; left: 72px;}
.drop_main ul li ul.sub_menu li .inner_sub_menu a {background-color:rgba(250, 95, 94, 0.46); left:auto;}
.drop_main ul li ul.sub_menu li .inner_sub_menu a:hover {background-color:#ff5a59;}
.drop_main ul li ul.sub_menu li .inner_sub_menu li:first-child a,.drop_main ul li ul.sub_menu li .inner_sub_menu li:nth-child(3) a,.drop_main ul li ul.sub_menu li .inner_sub_menu li:nth-child(3) a{left:auto !important;}
.score_box{height:90px; position:absolute; bottom:5px; right: 5px; left: 30px;}
.score_box .score_text{float:left; line-height: 14px; font-size: 14px; margin-left: -16px; font-weight: bold;}
.score_box .red_dot{position: absolute; left: 351px; top: 50px; border-bottom:3px solid #d70707; text-align:center; width:235px; height:10px;}
.red_dot{position: absolute; left:-44px; top:170px; border-bottom:3px solid #d70707; text-align:center; width:112px; height:86px;} 
.red_dot img {padding: 0px 20px 0px 22px}

.strength_table input[type="text"]{width: 120px; margin: 0 !important;}
.flight_time_page .pulse_text{top: 40px; right: 60px;}
.strength_btns{float:left; position: relative; z-index: 1; margin-right: 10px; color: #c60003; font: 15px "MYRIADPROREGULAR"; text-align: center; text-decoration: none;}
.strength_btns img{margin-top: 0; width: auto; margin-left: 0px; margin-right:0;}
.strength_table .name_field_td img{margin-top:8px;}
.container .graph_table{padding-top:15px;}
.submaximal_page td.sml_text_field input[type="text"]{width: 80px;}
.graph_submaximal{box-shadow: 0 0 7px rgba(0,0,0,0.2); padding:10px 10px 10px 10px; background:#fff; position: relative;}
.graph_submaximal img{width:100%;}
.submaximal_page td{font-size:14px;}
.submaximal_page td .predicted_head{font-size:20px;}
.predicted_value{margin-top:10px; text-align:left;}
.mt_36{margin-top:36px;}
.submaximal_page .plot_btn{margin-top:0;}
.lactate_left_field td{font-size:16px; padding:3px 5px;}
.lactate_table td.sml_text_field input[type="text"]{width: 95px;}
.lactate_left_field td.sml_text_field input[type="text"]{width:58px;}
.lactate_head{font-size:26px;}
.lactate_table .hr_zone_row{border-top:1px solid #cfcfcf; padding:0;}
.hr_zone_row .hr_zone_block{float:left; color:#c60003; width:94px; text-align:center; font-size:16px;}
.hr_zone_row .hr_zone_block:nth-child(4){width:35px;}
.hr_zone_row .hr_zone_block:nth-child(5){width:160px;}
.trai_zone_row  .hr_zone_block{background:#f9ee3c; line-height:38px; color:#000; margin-top:-3px;}
.trai_zone_row  .hr_zone_block:nth-child(2){background:#f9b43d;}
.trai_zone_row  .hr_zone_block:nth-child(3){background:#f9883c;}
.trai_zone_row  .hr_zone_block:nth-child(4){background:#ee6666;}
.trai_zone_row  .hr_zone_block:nth-child(5){background:#f93d3c;}
.position_r{position:relative;}
.info_block{font-size:14px; text-align:left; padding:10px 15px; background:#fff; line-height: 23px; border-radius: 5px; color:#373737; position:absolute; margin-top:10px; box-shadow:0 0 6px rgba(0, 0, 0, 0.25); display:none; z-index: 999999;}
.info_block:before{content:''; position:absolute; right:18px; top:-10px; width: 0; height: 0; border-left: 10px solid transparent; border-right: 10px solid transparent;  border-bottom: 10px solid #fff;}
.graph_lactate{margin-top:-5px; padding-top:40px;}
.lactate_table table{padding:0;}
.graph_table .lactate_left_point label{line-height:15px; margin-bottom:12px; display:block;}
.graph_table .lactate_left_point label input[type="radio"]{float:left; margin-right:12px;}
.print_icon{position:relative; float: left; z-index:1;}
.print_icon_toggle{width:100px; position:absolute; left:24px; top:37px; background:#fff; box-shadow:0 0 5px rgba(0, 0, 0, 0.3); display: none;}
.print_icon_toggle:before {
    content: '';
    position: absolute;
    right: 42px;
    top: -6px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #FFFFFF;
}
.print_icon_toggle li{display:block;}
.print_icon_toggle li a{height: auto; width: 100%;
    display: block;
    margin: 0;
    padding: 5px 0;
    font-size: 14px;
    text-decoration: none;
    background: none;
    color: #C60003;}
.print_icon_toggle li a:hover {
    background: #EAEAEA;
}
.submaximal_page .submax_btn{margin-top: 0; font-size: 16px; border-radius: 20px; background:#ccc; color: #464646;}
.submaximal_page .submax_btn[disabled="disabled"]{opacity: .5; cursor:default;}
.stg_btn{padding: 0 13px;}
.grf_label1,.grf_label2{font-size: 16px; color: #6D6D6D; transform: rotate(-90deg); position: absolute; z-index: 1; left: 15px; top: 50%;}
.grf_label2{left: -32px;}
#chartdiv .jqplot-yaxis{left: -8px !important;}
#chartdiv .jqplot-xaxis{bottom: -6px !important;}
#chartdiv .jqplot-yaxis .jqplot-yaxis-tick{right: 0;}
#chartdiv .jqplot-xaxis canvas:first-child{bottom: -12px !important;}
.ml_7{margin-left:7px;}
.ml_42{margin-left:42px;}
.width_96{width:96px !important;}
.width_76{width:76px !important;}
.width_108{width:108px !important;}
.width_60{width:60px !important;}
.ml_34{margin-left:34px;}
.tabel_bord{border:1px solid #DCDCDC; padding:0 !important; background:rgba(255, 255, 255, 0.2);}
.tabel_bord thead tr{background:#C60003; color:#fff;} 
.tabel_bord tr td{border-bottom:1px solid #D8D8D8; padding:10px; box-shadow: 0 1px 0 #fff;}
.tabel_bord tr td:nth-child(2){text-align:center;}
.tabel_bord tr:last-child td{border-bottom:0; box-shadow:none;}
.number_btn{font-size: 18px; color: #fff;background: #6A6A6A;  width: 50px; line-height: 50px; border: 0; cursor: pointer; border-radius: 3px; margin: 0 5px; box-shadow: inset 1px 1px 2px rgba(255, 255, 255, 0.45), 3px 3px 2px rgba(0,0,0,0.75); border: 1px solid rgba(106, 106, 106, 0.16); outline:none;}
.rest_bot_btns{margin-right:0; font-size:15px; text-decoration:none; color:#000; display:inline-block; line-height:28px; margin-right:20px;}
.rest_bot_btns span{height:28px; width:28px; background:#ddd; float:left; margin-right:10px; text-align:center;}
.rest_bot_btns span img{margin-top: 6px;}

.text_list p{width: 100%; display: inline-block; line-height: 22px; margin-bottom: 10px;}
.text_list p img{float: left; margin-right: 10px;}
.note_text{margin-top: 40px; line-height:28px;} 
.note_text strong{text-align: center; display: block; font-size: 22px; margin-bottom: 20px;}
.compute_btn{margin-top:40px;}   
.error_select .select_div{float:left; width: 33.33%; text-align:center;}
.error_select .select_div .Scroll_content{margin-top:10px; max-height: 373px; overflow-y: auto; overflow-x: hidden;}
.error_select .select_div ul li input{width:98%; margin:0 !important; padding:0; text-align:center; font-size:14px !important; outline:none;border: 1px solid #ccc; border-bottom:0;}
.error_select .select_div ul li:nth-child(2n) input{background: #f6f4f5 !important;}
.error_select .select_div ul li:last-child input{border-bottom: 1px solid #ccc;}
.calculation_box{background: #f6f4f5; padding: 12px 15px; border-radius: 5px; border: 1px solid #bdbdbd;} 
.calculation_box p{margin-bottom: 15px;}
.calculation_box p:last-child{margin-bottom: 0;} 

.tabel_bord_sml{float:left;}
.tabel_bord_sml tr td{padding:5px;}
.tabel_bord_sml tr td span{float: right; color: #c60003;}
.chart_div{width:54%; float:right;margin: 0 2%; max-width:264px;} 
.chart_inner{width:100%; height:auto; display:inline-block; position:relative; padding-top: 29px;border-bottom: 1px solid #000; padding-bottom: 30px;}
.chart_inner:before{content:''; position:absolute; bottom:0; top:0; left:50%; width:1px; background:#000; margin-left: -1px;}
.chart_inner ul,.chart_value ul{margin:0; padding:0; list-style:none;}
.chart_inner ul li{width:100%; border-bottom:1px dashed #A8A8A8; height:28px;} 
.chart_value{width:100%; display:inline-block;}  
.chart_value ul{text-align:center;} 
.chart_value ul li{text-align:center; display:inline-block; font-size:16px; color:#000; width: 21px}
.chart_circule_main{position:absolute; bottom:30px; top:29px; width:100%;}
.chart_circule_main .chart_circule_row{height:13px; width:100%; padding:8px 0; text-align:center;}   
.chart_circule_row .red_circule{background:#ec6565; height:9px; width:9px; border-radius:60%; float:left; margin:0 1.32px; opacity: 0;} 
.chart_div_first .chart_circule_row .red_circule{margin:0 1.29px;} 
.page_head{font-size: 30px; color: #6D6D6D;  text-align: center; position: absolute; width: 100%;text-indent: 35px;}
.page_head span{font-size:15px; float: right; margin-right: 60px; line-height:36px;}
.error_conf_table{border: 1px solid #c3c3c3; margin-top:25px;} 
.error_conf_table tr td{padding:0; border-bottom: 1px solid #c3c3c3;}
.error_conf_table tr td:first-child{padding:0 10px; border-right:1px solid #c3c3c3;} 
.error_conf_table tr td input,.error_conf_table tr td input:focus{width: 140px; margin: 0 !important; padding:5px 10px; border: 0; background: none !important; text-align:center; display:block !important;}
.error_conf_table tr:nth-child(2n) td{background:#fff;}
.mt_275{margin-top:275px;}  
/*.main_Graph_container{position: absolute; left: -460px; top:-150px; width:964px;} */
.tabel_bord_skinfold{border:0; border-right:1px solid #DCDCDC;}
.tabel_bord_skinfold thead tr td{padding:10px;} 
.tabel_bord_skinfold tr td:first-child{background: #f1f1f1; border-color: #f1f1f1; border-right: 1px solid #DCDCDC; width:15px;}
.tabel_bord_skinfold tr:last-child td:nth-child(2), .tabel_bord_skinfold tr:last-child td:last-child{border-bottom: 1px solid #D8D8D8;}
.tabel_bord_skinfold tr td:nth-child(2){text-align:left;}
.tabel_bord_skinfold tr td:last-child{text-align:center;}
.tabel_bord_skinfold tr td{padding:5px 10px;}
.tabel_bord_skinfold tr td input[type="text"]{height: 24px;}
.green_circle,.red_circle{height:15px; width:15px; background:#f00; border-radius:60%; cursor: pointer;}
.green_circle{background:#09bd46;}
.diag_chart{width:100%; height:410px;}
.sigma_table{margin-left:10px;}  
.sigma_table tr td{padding:0; font-size:17px;}
.sigma_table tr td .rest_bot_btns{margin-right:0;}
.sigma_table tr td input[type="text"]{width:90px; margin-left: 35px !important;} 
.skinfold_head{text-align:center; font-size:16px; font-weight:bold; margin-bottom:12px;}
.diag_chart .graph{height:460px; width:97%; margin:0; padding:0; box-shadow:none; background:none;} 
.diag_chart .graph .bottom_values li{float: left; width: 45px; line-height: normal; margin-left: 0;}
.diag_chart .graph .bottom_values li:first-child{width:30px;}
.diag_chart .graph .bottom_values li:nth-child(2){width: 30px;}
.diag_chart .graph .bottom_values li:nth-child(5){width: 75px;}
.diag_chart .graph .bottom_values li:nth-child(6){width: 105px;}
.diag_chart .graph .bottom_values li span{transform:none; width:auto; margin-left:0; line-height:normal; height:auto; font-size:16px;}
.diag_chart .graph .bottom_values{left:5px; bottom:10px; border:0} 
.diag_chart .graph .bottom_values_points li .blue_dot{bottom: 30px; z-index: 9; position:relative; float:left; left:0;} 
.diag_chart .graph .graph_pulse_box{left:0; right:0; height:405px; padding-left: 5px;}  
.diag_chart .graph .graph_pulse_box img{height:290px; margin-top:116px;}  
.percentile_box{position:absolute; right:100px; top:120px; font-size:18px;}
.lrg_circle{height:480px; width:480px; background:#E8ECF1; border-radius:60%; margin:70px auto; padding:80px; position:relative; box-shadow: 0 2px 4px #adadad;}
.lrg_circle .lrg_circle_in{height:320px; width:320px; background:#B5CFD8; border-radius:60%; margin:auto; padding:80px;}
.lrg_circle .lrg_circle_in .lrg_circle_inner{height:160px; width:160px; background:#7393A7; border-radius:60%; margin:auto; padding:80px;}
.lrg_circle .lrg_circle_in .lrg_circle_inner .lrg_circle_under{height:160px; width:160px; background:#6C737E; border-radius:60%; margin:auto;}
.lrg_circle .hori_content{width:100%; height:30px; margin-top:-30px; border-bottom:1px solid #3b4048; position:absolute; top:50%; left:0;}
.lrg_circle .vert_content{height: 100%; border-right:1px solid #3b4048; position: absolute; top: 0; left: 50%; width: 38px; margin-left: -38px;}
.lrg_circle .vert_content:before, .lrg_circle .vert_content:after, .lrg_circle .hori_content:before, .lrg_circle .hori_content:after{content: 'mm'; position: absolute; top:-46px; right: -22px; font-size: 18px; white-space: nowrap;}
.lrg_circle .vert_content:after{top: auto; bottom: -46px;} 
#skinfold_6 .vert_content:before{content: 'subscapular \00a0  \00a0  mm';}
#skinfold_6 .vert_content:after{content: 'supraspinale \00a0  \00a0  mm';}
.lrg_circle .hori_content:before{right:auto; left: -60px; top: 13px;}
.lrg_circle .hori_content:after{right: -60px; top: 13px;}
.lrg_circle .hori_content ul, .lrg_circle .vert_content ul{margin: 0 -15px; padding:0; list-style:none; font-size:16px; position: relative;}
.lrg_circle .vert_content ul{margin:-15px 0;}
.lrg_circle .vert_content ul li{margin-bottom: 64px;}
.lrg_circle .vert_content ul li:nth-child(4){margin-bottom: 132px;}
.lrg_circle .vert_content ul li:last-child{margin-bottom:0;}


.lrg_circle .hori_content li{display:inline-block; position: absolute;}
.lrg_circle .hori_content li:nth-child(2) {left: 78px;}
.lrg_circle .hori_content li:nth-child(3) {left: 158px;}
.lrg_circle .hori_content li:nth-child(4) {left: 248px;}
.lrg_circle .hori_content li:nth-child(5) {left: 405px;}
.lrg_circle .hori_content li:nth-child(6) {left: 476px;}
.lrg_circle .hori_content li:nth-child(7) {left: 558px;}
.lrg_circle .hori_content li:last-child { left: 640px;}

.skinfold_container{font-size:18px; line-height:30px; position:relative;}
.skinfold_container .skmap_left{float:left; margin-left:80px;}
.skinfold_container .skmap_right{float:right; margin-right: 40px;}
.skinfold_container .skmap_right img{float: left; margin-top: 15px; margin-right: 10px;}
.skinfold_container .skmap_right .skmap_rtxt2 img{margin-bottom: 30px;}
.lrg_circle .sk_txt1, .lrg_circle .sk_txt2, .lrg_circle .sk_txt3, .lrg_circle .sk_txt4{font-size:17px; color:#000; position:absolute; top: 130px; left: -20px;}
.lrg_circle .sk_txt2{top: 120px; left:auto; right:-30px;}
.lrg_circle .sk_txt3{top: auto; bottom: 110px; left: auto; right: -10px;}  
.lrg_circle .sk_txt4{top:auto; bottom:120px; left:-10px;}
.population_div_main{height:auto; width:200px; margin-right:20px; float:left; position:relative;}
.user_prof_main{height:auto; width:280px; float:left;}
.user_prof_main #chartdiv{width:295px; height: 470px; margin-left: -10px; margin-top: -10px; float:left;} 
.sport_group_main{height:auto; width:400px; float:left;}
.sport_group_main #sport_group_div{width:416px; height: 470px; margin-top: -10px; float: left; left: -10px;} 
.population_div{height:438px; position:relative; border: 2px solid #838383; border-top:0; margin-top: 20px; z-index:1;}
.population_div img{position:absolute; top:109px; left: 5px;}
.population_div ul{position:absolute; top:124px;}
.population_div ul li{float:left; margin-left: 5px;}
.population_div ul li:first-child{margin-top: 105px;} 
.population_div ul li:nth-child(2){margin-top: 80px;}
.population_div ul li:nth-child(3){margin-top: 55px;}
.population_div ul li:nth-child(4){margin-top: 38px;}
.population_div ul li:nth-child(5){margin-left: 0; margin-top: 15px;}
.population_div ul li:last-child{position: absolute; right: -20px; top: 20px;}
.population_div_ul{position:absolute; top:41px; left:2px; right: 2px; margin:0; padding:0; background-color:#faffbd;}    
.population_div_ul li{border-top:1px solid #ccc; height:54px; width:100%; display:inline-block;}
.population_div_ul li:last-child{border-bottom:1px solid #ccc;}
.points_div{width:40px; float:left;}
.points_div ul{margin:0; padding:0; list-style:none;}
.points_div ul li{width:100%; font-size:18px; margin-top:32px;} 
.user_prof_main .user_prof_txt{font-size: 18px; margin: 0 7px; margin-top: 20px; line-height: 24px;} 
.sport_group_div{height:438px; width:100%; border: 2px solid #838383; border-top:0; margin-top: 20px; display:inline-block;}
.bottom_icons{display:inline-block; width:74px; margin-left:10px; text-align:center; font-weight: bold; font-size: 13px; color:#c60003;}
.bottom_icons img{max-width:98%; float: left; box-shadow:2px 3px 6px rgba(0, 0, 0, 0.67); border: 1px solid #c60003; background: #fff; margin-bottom:10px; color:#c60003;}
.user_prof_val_table{position:absolute; top:0;}
.skinfold_radio{position: absolute; z-index: 99; left: 80px; top: 40px; width: 150px;}
.skinfold_radio label{margin-bottom: 0;}
.anthro_chart_main{width:85%; height: auto; margin-bottom: 50px; display: inline-block; margin-top: 30px;}
.anthro_chart_main #chartdiv .jqplot-event-canvas{background-size: 80%;}
.tri_shart_main{width:98%; height: auto; margin-bottom: 50px; display: inline-block; margin-top: 30px;}
.tri_shart_main #chartdiv .jqplot-event-canvas{background:url(../images/diagram.png) 50.3% 66% no-repeat; background-size: 80%;}
.graph_table td .drop_select{background:#fdfbb0 !important; color:#312d2d; border-color:#6f6f6f; width: 200px !important; margin-left: 25px !important;}
@media screen and (min-width:766px) and (max-width:1024px){   
	.wrapper{max-width:100%;}
	.logo{max-width:100%; padding-left:0;}
	.logo img{max-width:100%;}
	.graph_table td label,.graph_table td{font:15px "MYRIADPROREGULAR";}
	.chart_inner ul li{height: 28.9px;}
	.chart_circule_row .red_circule,.chart_div_first .chart_circule_row .red_circule{margin: 0 1.2px;}
	.chart_circule_main .chart_circule_row{height:9.9px; padding: 10px 0;}
}
@media screen and (max-width:770px){
	input[type="text"]{font:14px "MYRIADPROREGULAR" !important; margin-left:0 !important;}
	.mid{height: auto; min-height:630px; padding-bottom:20px;}
	.graph{width:590px;}
	.verticle_lines li{width:24px;}
	.verticle_lines li:nth-child(16){width:104px;}
	.verticle_lines li .graph_dashed_line{left: 48px;} 
	.bottom_values{bottom:80px;}
	.bottom_values li{width:24px; line-height: 118px;}
	.bottom_values li span{margin-left: -38px; line-height: 24px; height: 24px;width: 100px;}
	.graph_table td.sml_text_field input[type="text"],.strength_table input[type="text"]{width: 70px;}
	.submaximal_page td{font-size:12px;}
	.submaximal_page td.sml_text_field input[type="text"]{width:52px;}
	.score_box .blue_dot{left: 286px;}
	.score_box .red_dot{left: 240px;}
	.pulse_text{top: 40px; right: 110px; font-size:17px}
	.lactate_left_field td{font-size:14px;}
	.lactate_left_field td.sml_text_field input[type="text"]{width: 48px;}
	.hr_zone_row .hr_zone_block{width:54px; font-size:13px;}
	.hr_zone_row .hr_zone_block:nth-child(4){width:25px;}
	.hr_zone_row .hr_zone_block:nth-child(5){width:108px;}
}

@media print{
	.main_Graph_container{left: -500px; top:-130px; width:904px;}
	.sport_group_main{margin-top:300px;}
}

