@charset "utf-8";
/* CSS Document */
body{margin:0; padding:0;}
img{width:auto;}
.clear{clear:both;}
.container{height:auto; margin-bottom:20px;}
.container table{padding:0 10px;}
.graph_table td label{font: 18px "MYRIADPROREGULAR"; color: #c60003; display: inline-block; margin-bottom:10px;}
.graph_table td input[type="text"]{float:none; display:inline-block;}
.graph_table td{font: 19px "MYRIADPROREGULAR"; padding:10px 5px;}
.graph_table td select{margin-left:0 !important; width:95%; max-width:242px; display:inline-block;}
.name_field_td input[type="text"],.strength_table .name_field_td input[type="text"]{width:435px;}
.graph_table td.sml_text_field input[type="text"]{width:120px} 
.name_field_td img{margin-top:8px; margin-right:10px; width:30px;}
.graph{height:500px; width:830px; float:right; box-shadow:0 0 7px rgba(0,0,0,0.2); margin:12px; padding:5px; background:#fff; position:relative; overflow:hidden;}
.verticle_lines{margin:0; padding:0; list-style:none; float:right;}
.verticle_lines li{float:right; background:#f8babb; margin-left:2px; height:500px; width:32px; font-size: 14px; text-align:center; line-height:460px;}
.verticle_lines li span{transform: rotate(-90deg); display: inline-block; position:relative; z-index:1;}
.verticle_lines li:nth-child(2){background:#f7c5ba;}
.verticle_lines li:nth-child(3){background:#fee4c3;}
.verticle_lines li:nth-child(4){background:#fff5c2;}
.verticle_lines li:nth-child(5){background:#eff7bb;}
.verticle_lines li:nth-child(6){background:#eafec1;}
.verticle_lines li:nth-child(7){background:#dbffc2;}
.verticle_lines li:nth-child(8){background:#c8fec2;}
.verticle_lines li:nth-child(9){background:#c3fece;}
.verticle_lines li:nth-child(10){background:#c3ffe6;}
.verticle_lines li:nth-child(11){background:#c2f3fa;}
.verticle_lines li:nth-child(12){background:#c1ebf9;}
.verticle_lines li:nth-child(13){background:#bbdef2;}
.verticle_lines li:nth-child(14){background:#c3defc;}
.verticle_lines li:nth-child(15){background:#c3defb;}
.verticle_lines li:nth-child(16){background:#b8c9fd; width:126px; position:relative;}
.verticle_lines li .graph_dashed_line{position:absolute; bottom: -32px; right:-5px;}
.verticle_lines li .graph_dashed_line .graph_dash_text{position: absolute; left: -15px; bottom: 74px;}
.verticle_lines li .graph_dashed_line span{transform:rotate(0); left: -34px; bottom: -20px;}
.verticle_lines li .graph_dashed_line .graph_dashed_line{width: 27px; background: url(../images//graph_dashed_line.png) bottom center no-repeat; position: absolute; bottom: 227px; left: -22px; height: 282px; border-radius: 0 10px 0 0;}
.verticle_lines li .graph_dashed_line .custom1 {height:110px; width:35px; background:none; position: absolute; z-index: 5000; right: 8px; bottom:0px;}
.verticle_lines li .graph_dashed_line .custom2 {height:110px; width:38px; background:none; position: absolute; z-index: 5000; right: 35px; bottom:0px;}
.verticle_lines li .graph_dashed_line .custom3 {height:110px; width: 44px; background:none; position: absolute; z-index: 5000; right: 68px; bottom:0px;}
.verticle_lines li .graph_dashed_line .custom4 {height:160px; width: 44px; background:none; position: absolute; z-index: 5000; right:-1px; bottom:0px;}
.verticle_lines li .graph_dashed_line .custom5 {height:160px; width: 44px; background:none; position: absolute; z-index: 5000; right:27px; bottom:0px;}
.verticle_lines li .graph_dashed_line .custom6 {height:160px; width: 44px; background:none; position: absolute; z-index: 5000; right:67px; bottom:0px;}
.verticle_lines li .graph_dashed_line .custom4 .red_dot {position: absolute;left: -41px;top:16px; border-bottom: 3px solid #d70707;text-align: center;width: 112px;height: 88px;}
.verticle_lines li .graph_dashed_line .custom5 .red_dot {position: absolute;left: -41px;top:16px; border-bottom: 3px solid #d70707;text-align: center;width: 112px;height: 88px;}
.verticle_lines li .graph_dashed_line .custom6 .red_dot {position: absolute;left: -41px;top:16px; border-bottom: 3px solid #d70707;text-align: center;width: 112px;height: 88px;}
.verticle_lines li .graph_dashed_line .custom4 .red_dot img {position: absolute; top:77px; left: 22px;}
.verticle_lines li .graph_dashed_line .custom5 .red_dot img {position: absolute; top:77px; left: 22px;}
.verticle_lines li .graph_dashed_line .custom6 .red_dot img {position: absolute; top:77px; left: 22px;}
input[type="text"].cus-input {background-color:#ddd !important;}

.verticle_lines li .graph_dashed_line .custom1 .blue_dot, .verticle_lines li .graph_dashed_line .custom2 .blue_dot, .verticle_lines li .graph_dashed_line .custom3 .blue_dot {position: absolute; bottom: -131px;left: 5px;}
.bottom_values{position: absolute; bottom: 100px; right:5px; left:60px; border-bottom: 2px solid #606060;}
.bottom_values li{float:right; width:32px; margin-left: 2px; line-height:185px; position:relative;}
.bottom_values li .blue_dot{position: absolute; bottom:-124px; left:5px;}
.bottom_values li span{transform: rotate(-90deg); display: inline-block; width: 170px; margin-left: -69px; line-height: 32px; text-align: left; height: 32px; font-size: 12px;}
.graph_pulse_box{position:absolute; height:290px; right:5px; left:60px; top:20px; border-bottom: 2px solid #000; border-left: 2px solid #000;}
.graph_pulse_box span{transform: rotate(-90deg); display: inline-block; font-size: 15px; left: -52px; top: 110px; position:absolute;}
.graph_pulse_box img{float:left; height:290px;}
.red-icon {background: url(../images//red_dot.png) center no-repeat; }
.pulse_text{position: absolute; top: 70px; right: 210px; font-size: 20px; font-weight: bold; text-align: center; line-height: 30px;}
.plot_btn{background: #c60003; height: 35px; border: none; cursor: pointer; margin: 480px 0 0 5px; float: left; font-family: "MYRIADPROREGULAR"; font-size: 20px; color: #FFF; padding: 0 25px;}
.drop_main{display:inline-block; width:92%; margin:40px 4%;}
.drop_main ul{display:inline-block; width:100%; text-align:center; position:relative;}
.drop_main ul li{display:block; width:auto; text-align:center; margin-bottom:50px; padding:15px; position:absolute; left:0; right:0;}
.drop_main ul li a{font: 19px "MYRIADPROREGULAR"; color: #fff; text-decoration: none; text-align: center; float:none; display: table-cell; vertical-align: middle; word-break:break-word; position:relative; z-index:3;}
.drop_main ul li:nth-child(2) a{left:170px; z-index:2;}
.drop_main ul li:nth-child(3) a{left:340px; z-index:1;}
.drop_main ul li ul.sub_menu{margin:20px 0 0 0; padding:0; display:none; position:relative;}
.drop_main ul li ul.sub_menu:before {content: ''; width: 0; height: 0; border-left: 8px solid transparent; border-right: 8px solid transparent; border-top: 8px solid #ff5a59; position: absolute; top:-20px; left: 72px;}
.drop_main ul li:nth-child(2) ul.sub_menu:before{left:242px;}
.drop_main ul li:nth-child(3) ul.sub_menu:before{left:412px;}
.drop_main ul li ul.sub_menu li{width:auto; margin-bottom:0; margin-right:10px; padding:0; float:left; position:relative; left:auto;}
.drop_main ul li ul.sub_menu li:last-child{margin-right:0;}
.drop_main ul li ul.sub_menu li:nth-child(2) a,.drop_main ul li ul.sub_menu li:nth-child(3) a{left:auto;}
.drop_main ul li ul.sub_menu li a {background-color:rgba(255, 90, 89, 0.7);}
.drop_main ul li ul.sub_menu li a:hover {background-color:#ff5a59;}
.drop_main ul li ul.sub_menu li:first-child a,.drop_main ul li ul.sub_menu li:nth-child(2) a,.drop_main ul li ul.sub_menu li:nth-child(3) a{left:auto !important;}
.drop_main ul li ul.sub_menu li .inner_sub_menu{width:500px; margin-bottom:0; margin-top:20px; position:absolute; display:none;}
.drop_main ul li ul.sub_menu li .inner_sub_menu:before {content: ''; width: 0; height: 0; border-left: 8px solid transparent; border-right: 8px solid transparent; border-top: 8px solid rgba(255, 90, 89, 0.66); position: absolute; top:-20px; left: 72px;}
.drop_main ul li ul.sub_menu li .inner_sub_menu a {background-color:rgba(250, 95, 94, 0.46); left:auto;}
.drop_main ul li ul.sub_menu li .inner_sub_menu a:hover {background-color:#ff5a59;}
.drop_main ul li ul.sub_menu li .inner_sub_menu li:first-child a,.drop_main ul li ul.sub_menu li .inner_sub_menu li:nth-child(3) a,.drop_main ul li ul.sub_menu li .inner_sub_menu li:nth-child(3) a{left:auto !important;}
.score_box{height:90px; position:absolute; bottom:5px; right: 5px; left: 30px;}
.score_box .score_text{float:left; line-height:40px;}
.score_box .red_dot{position: absolute; left: 351px; top: 50px; border-bottom:3px solid #d70707; text-align:center; width:235px; height:10px;}
.red_dot{position: absolute; left:-41px; top:170px; border-bottom:3px solid #d70707; text-align:center; width:112px; height:88px;} 
.red_dot img {padding: 0px 20px 0px 22px}

.strength_table input[type="text"]{width: 120px; margin: 0 !important;}
.flight_time_page .pulse_text{top: 40px; right: 60px;}
.strength_btns{float:left;}
.strength_btns img{margin-top: 0; width: auto; margin-left: 0px;}
.strength_table .name_field_td img{margin-top:8px;}
.container .graph_table{padding-top:15px;}
.submaximal_page td.sml_text_field input[type="text"]{width: 88px;}
.graph_submaximal{box-shadow: 0 0 7px rgba(0,0,0,0.2); padding:20px 10px 10px 10px; background:#fff;}
.graph_submaximal img{width:100%;}
.submaximal_page td{font-size:14px;}
.submaximal_page td .predicted_head{font-size:20px;}
.predicted_value{margin-top:10px; text-align:left;}
.mt_36{margin-top:36px;}
.submaximal_page .plot_btn{margin-top:130px; float:none;}
.lactate_left_field td{font-size:16px; padding:3px 5px;}
.lactate_table td.sml_text_field input[type="text"]{width: 120px;}
.lactate_left_field td.sml_text_field input[type="text"]{width:58px;}
.lactate_head{font-size:26px;}
.lactate_table .hr_zone_row{border-top:1px solid #cfcfcf; padding:0;}
.hr_zone_row .hr_zone_block{float:left; color:#c60003; width:94px; text-align:center; font-size:16px;}
.hr_zone_row .hr_zone_block:nth-child(4){width:35px;}
.hr_zone_row .hr_zone_block:nth-child(5){width:160px;}
.trai_zone_row  .hr_zone_block{background:#f9ee3c; line-height:38px; color:#000; margin-top:-3px;}
.trai_zone_row  .hr_zone_block:nth-child(2){background:#f9b43d;}
.trai_zone_row  .hr_zone_block:nth-child(3){background:#f9883c;}
.trai_zone_row  .hr_zone_block:nth-child(4){background:#ee6666;}
.trai_zone_row  .hr_zone_block:nth-child(5){background:#f93d3c;}
.position_r{position:relative;}
.info_block{font-size:14px; text-align:left; padding:10px 15px; background:#fff; line-height: 23px; border-radius: 5px; color:#373737; position:absolute; margin-top:10px; box-shadow:0 0 6px rgba(0, 0, 0, 0.25); display:none; z-index: 999999;}
.info_block:before{content:''; position:absolute; right:18px; top:-10px; width: 0; height: 0; border-left: 10px solid transparent; border-right: 10px solid transparent;  border-bottom: 10px solid #fff;}
.graph_lactate{margin-top:-5px; padding-top:40px;}
.lactate_table table{padding:0;}
.graph_table .lactate_left_point label{line-height:15px; margin-bottom:12px; display:block;}
.graph_table .lactate_left_point label input[type="radio"]{float:left; margin-right:12px;}
.print_icon{position:relative;}
.print_icon_toggle{width:100px; position:absolute; left:24px; top:37px; background:#fff; box-shadow:0 0 5px rgba(0, 0, 0, 0.3); display: none;}
.print_icon_toggle:before {
    content: '';
    position: absolute;
    right: 42px;
    top: -6px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #FFFFFF;
}
.print_icon_toggle li{display:block;}
.print_icon_toggle li a{height: auto; width: 100%;
    display: block;
    margin: 0;
    padding: 5px 0;
    font-size: 14px;
    text-decoration: none;
    background: none;
    color: #C60003;}
.print_icon_toggle li a:hover {
    background: #EAEAEA;
}


@media screen and (min-width:766px) and (max-width:1024px){
	.wrapper{max-width:100%;}
	.logo{max-width:100%; padding-left:0;}
	.logo img{max-width:100%;}
	.graph_table td label,.graph_table td{font:16px "MYRIADPROREGULAR";}
}
@media screen and (max-width:770px){
	input[type="text"]{font:14px "MYRIADPROREGULAR" !important; margin-left:0 !important;}
	.mid{height: auto; min-height:630px; padding-bottom:20px;}
	.graph{width:590px;}
	.verticle_lines li{width:24px;}
	.verticle_lines li:nth-child(16){width:104px;}
	.verticle_lines li .graph_dashed_line{left: 48px;}
	.bottom_values{bottom:80px;}
	.bottom_values li{width:24px; line-height: 118px;}
	.bottom_values li span{margin-left: -38px; line-height: 24px; height: 24px;width: 100px;}
	.graph_table td.sml_text_field input[type="text"],.strength_table input[type="text"]{width: 70px;}
	.submaximal_page td{font-size:12px;}
	.submaximal_page td.sml_text_field input[type="text"]{width:52px;}
	.score_box .blue_dot{left: 286px;}
	.score_box .red_dot{left: 240px;}
	.pulse_text{top: 40px; right: 110px; font-size:17px}
	.lactate_left_field td{font-size:14px;}
	.lactate_left_field td.sml_text_field input[type="text"]{width: 48px;}
	.hr_zone_row .hr_zone_block{width:54px; font-size:13px;}
	.hr_zone_row .hr_zone_block:nth-child(4){width:25px;}
	.hr_zone_row .hr_zone_block:nth-child(5){width:108px;}
}

