@charset "utf-8";
/* CSS Document */
 
body{ background:#fffeff;margin:0;padding:0;font-family:Roboto,Arial,Helvetica; color: #53585f;}
.main{ width:100%;height:auto;margin:auto;}
header,footer{background: #E1E1E1;}
footer .bggrey{padding: 20px 0; margin-bottom:-5px;}
.bgblue{ background:#5081b2; display:inline-block; width:100%; margin-bottom:-5px;}
.logo{ width:400px;height:auto;margin:70px auto;}
.logo img{ width:100%;height:auto;}
.bgpink{ background:#f0748f;}
.text-white{ color:#fff;}
.nobold{ font-weight:normal;}
.font20{ font-size:20px;}
.nopadding{ padding:0;}
input, select, textarea{border-radius:0 !important;border:1px #a6aaa9 solid !important;font-size:16px !important;}
i{ padding-top:5px;}
.margintop20{ margin-top:20px;}
.btn-login{ background:#53585f;border-radius:0 !important;border:0;text-shadow:none !important;color:#fff; padding:10px;text-align:left !important;transition:all 0.5s ease-in-out;white-space:normal;}
.btn-login i{padding-left:15px;}
.btn-login:focus,.btn-login:hover,.btn-login:active{background:#373a3e;color:#fff;}
.btn-link{color: #53585f; font-weight: bold; border: 0 !important;}
.paddingbot60{ padding-bottom:60px;}
.paddingtop10{padding-top:10px;}
.bgwhite{ background:#fffeff;}
.bggrey{ background:#54555d; display:inline-block; width:100%;}
.emptyblock{ height:130px;}
.padding10{ padding:10px;} 
.inner-footer, a{ color:#dcdee0;padding-top:15px; padding-bottom:6px;}
.inner-footer a:hover{ color:#fff;}
.font-light{ font-weight:100 !important;}
a:hover{ text-decoration:none;}
img {border: 0;} 
.white_bg{background:#fff; display:inline-block; width:100%;padding:40px 0 30px 0; min-height:730px;}

/*Dashboard*/

.logo-inner img {height:auto;margin:auto;margin-top: 38px; margin-left:30px;}
.logout{ font-size:20px;color:#fff;padding-top:25px;}
.nav-custom{ background:#356797 !important;border:0;font-weight:100 !important;min-height:70px; margin:0 5px;}
.nav-custom li a:hover, .nav-custom li a:focus{ background:#5081B2 !important;}
.nav-custom a{ color:#eee !important;}
.nav-custom li a{ padding:25px 20px 25px 20px !important;font-size:13px; transition:all .3s linear;}
.active a{ color:#fff !important;background:#a6aaa9;}
.nomarging{ margin:0;}
.content{ width:100%;height:auto; min-height:736px; background:#f1f1f1;}
.datatable th{ background:#5e86b8;color:#fff;bord         er:1px #fff solid;}
.stylish-input-group .input-group-addon{background: white !important; border:1px #666 solid !important;border-left:0 !important;}
.stylish-input-group .form-control{border-right:0; box-shadow:0 0 0;border-color:#eee ;}
.stylish-input-group button{border:0;background:transparent;}
.custom-dropdown, .dropdown-menu{ background:#a6aba9 !important;width:100%;}
.dropdown, .dropup{ position:inherit !important;}
.drodown-li li{ display:inline-block;float:left;}
.drodown-li { padding:1.5% 0 1.5% 0;}
.drodown-li li a:hover{ color:#fff !important;}


/*Add Single User*/

.bglightgrey{ background:#f1f1f1;}
.adduser-form{padding:20px 0px 5px 0px;font-size:16px;}
.adduser-form label{ padding-top:5px;}
.add_multiuser_form{padding-top:20px; padding-bottom:20px;}
.border{ border:1px #666 solid !important; border-right:0 !important;}
.lookup{    padding-left: 25px;padding-top: 10px;}
.border-right{ border-right:1px #666 solid;}
.checkbox label, .radio label{ padding-left:5px !important;}
.checkbox-lg label::before
{
	width:20px;
	height:20px;
	margin-top:5px;
}

.checkbox-lg label::after
{
	width:20px;
	height:20px;
	top:6px;
}

.checkbox-lg label, .radio label
{
	padding-left:10px !important;
}

.border-rt-lt
{
	border-right:1px #666 dotted;
		border-left:1px #666 dotted;
}

.text-center
{
	text-align:center !important;
}

.btnmarginleft
{
	margin-right:10px;
}

.btn{ margin-top:5px;}
.paddingtopbot{ padding:15px 0 15px 0}


/*Dashboard Website*/
.btn-border{background: transparent; border: 1px rgba(255, 255, 255, 0.45) solid; border-radius: 0; font-weight: 100; font-size: 14px;}
.text-right{text-align:right; }
.btn-border:hover{ background:transparent;color:#fff;}
.fontbold{ font-weight:600 !important;}
.font16{ font-size:16px;}
.btn-grey{ background:#d2d6d5;border:none;border-radius:0; color:#53585f; font-size:16px;}  
.btn-grey i{margin-right:10px;}
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px; 
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}
.margintop10{ margin-top:10px;}
.help-point ol
{
	padding:0 0 0 10px;
}
.foot-links{margin:0; padding:0;} 
.foot-links a:hover{color:#fff;}
.foot-links li{ list-style:none;color:#fff; font-weight:100;float:left; padding:15px 10px 0px 10px;}

.font30{ font-size:55px;}
.paddingtop30{ padding-top:30px;}
.thank_button{ margin-top:0; padding-bottom:40px;}


.bg-light-red{ background:#f7bac3;padding-top:10px; width:auto; display:block; margin:0 -15px; margin-top:20px;}
.bg-light-red .btn-link{color: #53585F;}
h1, h2, h3, h4, h5, h6{font-weight:bold;}
.table>thead:first-child>tr:first-child>th{background: #5e86b8; color: #fff;}
.table-striped>tbody>tr:nth-of-type(odd){background-color: #e3e5e8;}
.dataTables_wrapper .dataTables_length,.dataTables_wrapper .dataTables_info{display: inline-block;}
.dataTables_wrapper .dataTables_paginate{margin:0;}
.user_botContent{display: inline-block; margin-left:20px;} 
.user_botContent ul{padding: 0; margin-left: 16px; list-style-type: decimal; font-size: 16px;}
.togle_btn_grp label.btn{border-radius: 0; font-size: 15px; color: #53585f;}
header .btn-border{margin-top: 30px; margin-bottom: 20px;}
.sucess_buttons{margin:0; padding:0; list-style:none; text-align:center;}  
.sucess_buttons li{display:inline-block; margin:0 5px;}
.sucess_buttons li a.btn{border-color: #a5aba9; border-radius: 0; color: #52585f; font-size: 13px; width: 195px; max-width: 100%;}
.togle_btn_grp label.btn-default.active{background: #53585F; color: #fff; box-shadow: none;}
.user_file_link{font-weight:normal; color:#0365c0; cursor:default;} 
.user_file_link i{margin-left:12px;color: #53585f; cursor:pointer;}
.user_file_link:hover{text-decoration:none; color:#0365c0;}
header h2.text-white{margin-top: 50px;}
.login .alert {
    padding: 0 15px;
    font-size: 14px;
    text-align: center;
    margin-bottom: 15px;
    color: #f00;
}
.ml_20{margin-left:20px;} 
.arrow_img{margin: 20px 0 0px; display: block;}
.arrow_img img{width:70px;}  
.user_browse_heading{margin-bottom: -20px;}
.user_landing div#example_length{margin-top: 40px;}
.user_landing div#example_filter label{font-size: 0;}
.user_landing div#example_filter label input{font-size: 15px !important; font-weight: normal;}
.head_company_name{margin-right:60px;}
.form-control[disabled], fieldset[disabled] .form-control {cursor: auto; background-color: #FFF;}
@media only screen and (min-width: 280px) and (max-width: 1170px) 
 { 

	.nav-custom li a{ padding:10px !important;font-size:14px !important;}
	.nav-custom{ min-height:40px !important;}
		.nav-custom li a:hover{ background:transparent !important;}
		.navbar-nav{ margin:0;}

}
@media only screen and (min-width: 768px){
	.navbar{border-radius:0;}
	.navbar-nav{width: 100%; text-align: center;}
	.navbar-nav li{float: none; display: inline-block;}
} 

@media only screen and (max-width:768px){
	header h2.text-white{margin-top:0;} 
	header .btn-border{margin:5px 0;}
	.navbar-default .navbar-toggle .icon-bar{background-color: #FFF;}
	.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{background-color: #5081B2;}
	.adduser-form{padding: 20px 0;}
	.table-responsive{border:0;}
}
@media only screen and (max-width:640px){
	.logo-inner{text-align:center; border-bottom: 1px solid rgba(255, 255, 255, 0.39); padding-bottom: 15px;}
	.logo-inner img{margin-top:20px; margin-left:0;}
	header h2.text-white{margin-top:10px; text-align: center; width: 100%;}
	.h2, h2{font-size: 22px;} 
	.h3, h3 {font-size: 18px;}
	.h4, h4{font-size:16px;}
	.adduser-form,.font16,.user_botContent ul{font-size:14px;}
	input, select, textarea{font-size:14px !important;}
	.font20{font-size:18px;}
	.bg-light-red{padding:0 10px;}
	.thank_button{margin-top:0; padding-bottom:20px;}
	.thank_button .fa-chevron-down{font-size:40px;}
}

