* {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}
html,
body {
  width: 100%;
  height: 100%;
  background:#4f82b4;
  font-family:Roboto,Arial,Helvetica;
  font-weight: 200;
}
.login {
  position: relative;
  top: 50%;
  width: 250px;
  display: table;
  margin: -200px auto 0 auto;
  background: #fff;
  border-radius: 4px;
}
.legend {
  position: relative;
  width: 100%;
  display: block;
  background: #eee;
  padding: 15px;
  color: #4f82b4;
  font-size: 20px;
  font-weight:700;
}
.legend:after {
  content: "";
  background-size: 100px 100px;
  background-repeat: no-repeat;
  background-position: 152px -16px;
  opacity: 0.06;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}
.input {
  position: relative !important;
  width: 90%;
  margin: 15px auto;
}
.input span {
  position: absolute !important;
  display: block;
  color: #d4d4d4 !important;
  left: 10px !important;
  top: 8px !important;
  font-size: 20px !important;
}


.input input {
  width: 100%;
  padding: 10px 5px 10px 5px;
  display: block;
  border: 1px solid #EDEDED;
  border-radius: 4px;
  transition: 0.2s ease-out;
  color: #a1a1a1;
}
.input input:focus {
  padding: 10px 5px 10px 5px;
  outline: 0;
  border-color: #4f82b4 !important;
}
.submit {
  width: 45px;
  height: 45px;
  display: block;
  margin: 0 auto -15px auto;
  background: #fff;
  border-radius: 100%;
  border: 1px solid #4f82b4;
  color: #4f82b4;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0px 0px 0px 7px #fff;
  transition: 0.2s ease-out;
}
.submit:hover,
.submit:focus {
  background: #4f82b4;
  color: #fff;
  outline: 0;
}
.feedback {
  position: absolute;
  bottom: -70px;
  width: 100%;
  text-align: center;
  color: #fff;
  background: #2ecc71;
  padding: 10px 0;
  font-size: 12px;
  display: none;
  opacity: 0;
}
.feedback:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(46, 204, 113, 0);
  border-bottom-color: #2ecc71;
  border-width: 10px;
  margin-left: -10px;
}

.login_logo
{
	width:300px;
	height:auto;background: #4F82B4;
    text-align: center;
    padding: 20px 0;
}

.login_logo img
{
}
