
/*

div.error:after {
    content: ' ';
    height: 0;
    position: absolute;
    width: 0;
	color:red;

    border: 8px solid transparent;
    border-top-color: #EE0101;
       top: 102%;
    left: 7px;
}

div.error:before {
    border-width: 14px;
    border-left-color: #EE0101;
    top: 100px;
    border:  2px solid #DDDDDD;
}
*/

div.error {    
    color: red;   
}
 