div.tooltip {
    position: absolute;
    text-align: center;
    width: 100px;
    height: 10px;
    padding: 8px;
    font: 10px sans-serif;
    background: #ffff99;
    border: solid 1px #aaa;
    border-radius: 8px;
    pointer-events: none;
}

sub {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
    bottom: -0.25em;
}

.small-input {
    width: 50%;
}

.axis path, .axis line {
    stroke: darkgray;
    stroke-width: 2px;
    outline-width: thick;
    shape-rendering: crispEdges;
}

.text {
    font-family: 'Arial';
    font-size: 14px;
}

.tick {
    stroke-dasharray: 1, 2;
    stroke: darkgray;
}

.bar {
   /* fill: #f2f2f2;*/
   fill:#ffffff;
    opacity: 0.5;
}

.bar2 {
    /*fill: #c5efdb;*/
	fill:#a5e2c5;
    opacity: 0.9;
}

circle {
    fill: black;
    position: absolute;
    z-index: 20;
}

input.x, input.y {
    width: 90px;
    height: 40px;
    margin-top: 10px;
}

input.x2, input.y2 {
    width: 90px;
    height: 40px;
    margin-top: 10px;
}

#name, #bodymass {
    height: 40px;
}

input[type='radio']:checked {
    height: 12px;
    width: 12px;
    background: #31475a;
    border-radius: 60%;
    content: '';
}

.screen1-buttons {
    margin: auto;
    margin-top: 20px;
}

ul {
    display: inline-block;
    zoom: 1;
}
