@charset "utf-8";
@import url("../webfonts/fonts.css");
*{ margin:none; padding:none;}
.wrapper {
	height: auto;
	width: 1000px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.logo {
	height: 100px;
	width: 770px;
	padding-top: 50px;
	padding-left: 230px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #666;
	overflow: none;
}
.bottom-btn {
}

.mid {
	height: 619px;
	width: 100%;
	background-color: #FFF;
	background-image: url(../images/mid-bg.png);
	background-repeat: no-repeat;
	float: none;
}


/*-------------------Mid buttons----------------*/
.buttons {
	height: auto;
	width: 800px;
	margin-left: 100px;
	padding-top: 70px;
	overflow:auto;
}

ul{list-style-type:none;}
ul l1{}
ul li a{
	float:left;
	display:block;
	background-color: #59c2f8;
	padding: 10px;
	height: 140px;
	width: 140px;
	margin-right:30px;
	margin-left:0px;
	margin-bottom:30px;
}
ul .last{margin-right:none;}

/*-------------------Bottom Buttons----------------*/
.bottom-btn{width:420px; height:50px;margin-left:290px; margin-top:30px;}
.start-btn a{
	float: left;
	height: 38px;
	width: 180px;
	background-color: #137bb1;
	font-family: "Myriad Pro", "Myriad Pro Cond", "Myriad Pro Light";
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	color: #FFF;
	text-decoration: none;
	padding-top: 8px;
	}
.quit-btn a{
	float: right;
	height: 38px;
	width: 180px;
	background-color: #137bb1;
	font-family: "Myriad Pro", "Myriad Pro Cond", "Myriad Pro Light";
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	color: #FFF;
	text-decoration: none;
	padding-top: 8px;
}


/*-------------------Footer----------------*/
.footer{
	text-align: center;
	height: 20px;
	width: 100%;
	margin-top: 50px;
	font-family: "Myriad Pro", "Myriad Pro Cond", "Myriad Pro Light";
	font-size: 16px;
	color: #333;
}




#menu8 {
	width: 200px;
	
}
	
#menu8 li a {
	text-decoration: none;
	height: 32px;
  	voice-family: inherit;
  	height: 24px;
}
	
#menu8 li a:link, #menu8 li a:visited {
	color: #777;
	display: block;
	background-color: #F7DB94;
	padding: 8px 0 0 20px;
}
	
#menu8 li a:hover {
	color: #257EB7;
	background-color: #FFFFF4;
	padding: 8px 0 0 25px;
}
	
#menu8 li a:active {
	color: #fff;
	background: url(images/menu8.gif) 0 -64px;
	padding: 8px 0 0 25px;
}

#menu8 ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#menu8 ul li a{
	
	margin-bottom:1px;
}





/*---------------------// Clients details page Start //-----------------------*/
.logo2 {
	height: 100px;
	width: 710px;
	padding-top: 50px;
	padding-left: 290px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #666;
	overflow: none;
}

.mid2 {
	height: 620px;
	width: 100%;
	float: none;
	margin:0px;
	background-image: -webkit-gradient(	linear,right bottom,left bottom,color-stop(0, #ECECEC),color-stop(0.5, #f6f6f6),
	color-stop(1, #ECECEC));
	background-image: -o-linear-gradient(left, #ECECEC 0%, #f6f6f6 50%, #ECECEC 100%);
	background-image: -moz-linear-gradient(left, #ECECEC 0%, #f6f6f6 50%, #ECECEC 100%);
	background-image: -webkit-linear-gradient(left, #ECECEC 0%, #f6f6f6 50%, #ECECEC 100%);
	background-image: -ms-linear-gradient(left, #ECECEC 0%, #f6f6f6 50%, #ECECEC 100%);
	background-image: linear-gradient(to left, #ECECEC 0%, #f6f6f6 50%, #ECECEC 100%);
}


.case-form {
	float: none;
	height: auto;
	width: 1000px;
}

#inputs input
{
    background: #ffffff; 
    margin: 0 0 15px 20px;
}

#inputs input:focus
{
    border-color:#137bb1;
}
input:focus
{
    border-color:#137bb1;
}
select:focus
{
    border-color:#137bb1;
}
textarea:focus
{
    border-color:#137bb1;
}

.gender{width:20px !important;margin:0px !important;}
.form-head{ width:100%;font:30px "Myriad Pro", "Myriad Pro Cond", "Myriad Pro Light"; color:#137bb1; width:980px; margin:0px 0 0 0; text-align:center bottom no-repeat; padding:20px 0 10px 0; font-weight:bold;}

.form-base { height:440px; width:380px; margin:25px auto 0 auto!important; padding:13px 0 0 0; }

.lsection{ float:left; width:369px;}
.lsection span{ display:block; margin:0 0 30px 0; font:17px "Myriad Pro", "Myriad Pro Cond", "Myriad Pro Light"; color:#000}
.lsection span p{
	width: 126px;
	font: 19px "Myriad Pro", "Myriad Pro Cond", "Myriad Pro Light";
	color: #137bb1;
	float: left;
	vertical-align: middle;
	margin-top:7px;
}

.lsection input[type="text"]{float:none !important;}

.gen{
	margin-top:0px !important;
}

input[type="text"]{ background-color:#dadada !important;margin:0px 0 0px 0; height:30px; width:230px; padding:0px 6px 0px; font:18px "Myriad Pro", "Myriad Pro Cond", "Myriad Pro Light" !important; color:#909090; display:block;margin-left:5px !important;border: 1px solid #ccc; padding: 3px 3px 3px 6px;float:left;}


input[type="submit"]{
	background: #137bb1 !important;
	height: 45px;
	width: 170px  !important;
	border: none;
	display: block;
	cursor: pointer;
	margin: 40px 0 0 0;
	float: left;
	margin-left: 0px !important;
	margin-top: 20px !important;
	font-family: "Myriad Pro", "Myriad Pro Cond", "Myriad Pro Light";
	font-size: 24px;
	font-weight: bold;
	text-color: #FFF;
	color: #FFF;
}

input[type="reset"]{
	background: #137bb1 !important;
	height: 45px;
	width: 170px  !important;
	border: none;
	display: block;
	cursor: pointer;
	margin: 40px 0 0 0;
	float: right;
	margin-left: 0px !important;
	margin-top: 20px !important;
	font-family: "Myriad Pro", "Myriad Pro Cond", "Myriad Pro Light";
	font-size: 24px;
	font-weight: bold;
	text-color: #FFF;
	color: #FFF;
	}
 select{background-color:#dadada !important ;margin:0px 0 0px 0; height:37px; width:240px; padding:0px 6px 0px; font:18px "Myriad Pro", "Myriad Pro Cond", "Myriad Pro Light" !important; color:#909090; display:block;margin-left:5px !important;border: 1px solid #ccc; padding: 6px 3px 3px 6px;}
	
/*---------------------// Clients details page End //-----------------------*/





/*---------------------// Medical hostory page Start //-----------------------*/

.mid3 {
	height: 750px;
	width: 100%;
	float: none;
	margin:0px;
	background-image: -webkit-gradient(	linear,right bottom,left bottom,color-stop(0, #ECECEC),color-stop(0.5, #f6f6f6),
	color-stop(1, #ECECEC));
	background-image: -o-linear-gradient(left, #ECECEC 0%, #f6f6f6 50%, #ECECEC 100%);
	background-image: -moz-linear-gradient(left, #ECECEC 0%, #f6f6f6 50%, #ECECEC 100%);
	background-image: -webkit-linear-gradient(left, #ECECEC 0%, #f6f6f6 50%, #ECECEC 100%);
	background-image: -ms-linear-gradient(left, #ECECEC 0%, #f6f6f6 50%, #ECECEC 100%);
	background-image: linear-gradient(to left, #ECECEC 0%, #f6f6f6 50%, #ECECEC 100%);
}


/*----Login value Start--*/
.login-cont{height:110px;
	width:100%;
	background-color:#e1e1e1;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #666;}

.section{ float:left; width:730px;margin-left:145px;}
.section span{ width:360px;height:33px;display:block; margin:35px 0 0px 0px; font:17px "Myriad Pro", "Myriad Pro Cond", "Myriad Pro Light"; color:#000;float: left;}
.section span b{
	width: 90px;
	font: 19px "Myriad Pro", "Myriad Pro Cond", "Myriad Pro Light";
	color: #137bb1;
	float: left;
	vertical-align: middle;
	margin-top:7px;
}
/*------Login value End-----*/




.contain{height: 720px;width:100%;}

/*----Left Start--*/
.left{
	width: 215px;
	height: 600px;
	background-color: #ebe9e9;
	float:left;
	-webkit-box-shadow: 8px 10px 8px -4px rgba(0,0,0,0.73);
-moz-box-shadow: 8px 0px 10px -4px rgba(0,0,0,0.73);
box-shadow: 8px 0px 10px -4px rgba(0,0,0,0.73);
}

.btn{
	height: 71px;
	width: 100%;
	margin-top: 10px;
}
.img-box{height:71px;width:71px;float: left;margin: 0px 10px 0px 10px;display: block;}
.btn p{
	padding-top: 11px;
	height: 60px;
	width: auto;}

.btn a{
	height: 71px;
	width: 100%;
	margin-top: 10px;
	font-family: "Myriad Pro", "Myriad Pro Cond", "Myriad Pro Light";
	font-size: 20px;
	font-weight: none;
	color: #137bb1;
	text-decoration: none;
	display:block;
	}
.btn a:hover{
	background-image: url(../images/btn-select-bg.png);
	background-repeat: no-repeat;
	}
	
.btn :hover{
	background-image: url(../images/btn-select-bg.png);
	background-repeat: no-repeat;}
.btn :hover p{
	font-family: "Myriad Pro", "Myriad Pro Cond", "Myriad Pro Light";
	font-size: 20px;
	font-weight: none;
	color: #fff;
	text-decoration: none;
	}
	
.btn-select{
	background-image: url(../images/btn-select-bg.png);
	background-repeat: no-repeat;
}
.btn-select a{
	font-family: "Myriad Pro", "Myriad Pro Cond", "Myriad Pro Light";
	font-size: 20px;
	font-weight: none;
	color: #fff;
	text-decoration: none;
}

/*----Left End--*/


/*----Right Start--*/
.right{width:770px;height:600px;float:right;}
.right-head{width:450px;font:30px "Myriad Pro", "Myriad Pro Cond", "Myriad Pro Light";color: #137bb1;margin-top:15px;margin-left:10px;font-weight:bold;}
.right-section{ float:left; width:100%;margin-left:0px;height:100%;}
.right-section span{ width:760px;height:auto;display:block; margin-top:13px;margin-left:10px;font:17px "Myriad Pro", "Myriad Pro Cond", "Myriad Pro Light"; color:#000;float: left;}
.right-section span ol{
	width: 600px;
	font: 19px "Myriad Pro", "Myriad Pro Cond", "Myriad Pro Light";
	color: #137bb1;
	float: left;
	vertical-align: middle;
	margin-top:0px;
	margin-right:7px;
	margin-left:20px;
}
.right-section span p{
	width: 600px;
	font: 19px "Myriad Pro", "Myriad Pro Cond", "Myriad Pro Light";
	color: #137bb1;
	float: left;
	margin-top:15px;
}

.right-section textarea{ background-color:#dadada !important ;margin:0px 0 0px 0; height:100px; width:730px; padding:0px 6px 0px; font:18px "Myriad Pro", "Myriad Pro Cond", "Myriad Pro Light" !important; color:#909090; display:block;margin-left:0px !important;border: 1px solid #ccc; padding: 3px 3px 3px 6px;}

.right-section span .new{
	width: 400px;
	font: 19px "Myriad Pro", "Myriad Pro Cond", "Myriad Pro Light";
	color: #137bb1;
	float: left;
	margin-top:0px !important;
}

/*----Right End--*/


.footer-top{margin-top:10px !important;}

/*---------------------// Medical hostory page End //-----------------------*/






/*---------------------// Physical Activity page Start //-----------------------*/
.right-section input:focus{ border-color:#137bb1;}
.physi-text{ width:70px !important;}
/*---------------------// Physical Activity page End //-----------------------*/






/*---------------------// Risk factor page Start //-----------------------*/
.risk-mid{height:780px !important;}
.risk-contain{height:740px !important;}
.measured-cont{width:760px;margin-left:0px;height:auto;}
.measured-left{width:270px;height:auto;float:left;}
.measured-left span{ width:240px;height:auto;display:block; margin-top:13px;margin-left:10px;font:17px "Myriad Pro", "Myriad Pro Cond", "Myriad Pro Light"; color:#000;float: left;}
.measured-left span p{
	width: 70px;
	font: 19px "Myriad Pro", "Myriad Pro Cond", "Myriad Pro Light";
	color: #137bb1;
	float: left;
	margin-top:15px;
	padding-top:6px;
}

.measured-right{width:320px;height:auto;float:left;}
.measured-right span{ width:290px;height:auto;display:block; margin-top:13px;margin-left:10px;font:17px "Myriad Pro", "Myriad Pro Cond", "Myriad Pro Light"; color:#000;float: left;}
.measured-right span p{
	width: 200px;
	font: 19px "Myriad Pro", "Myriad Pro Cond", "Myriad Pro Light";
	color: #137bb1;
	float: left;
	margin-top:15px;
	padding-top:6px;
}

/*---------------------// Risk factor page End //-----------------------*/






/*---------------------// Body Compsition page Start //-----------------------*/
.comp-mid-new{height:650px !important;}
.comp-contain-new{height:610px !important;}
.comp-cont{width:760px;margin-left:0px;height:auto;margin-top:10px;overflow:auto;}

.compo-text{width:60px !important}

.comp-left{width:265px;height:auto;float:left;}
.comp-left span{ width:255px;height:auto;display:block; margin-top:13px;margin-left:10px;font:17px "Myriad Pro", "Myriad Pro Cond", "Myriad Pro Light"; color:#000;float: left;}
.comp-left span p{
	width: 152px;
	font: 17px "Myriad Pro", "Myriad Pro Cond", "Myriad Pro Light";
	color: #137bb1;
	float: left;
	margin-top:15px;
	padding-top:7px;
}

.comp-mid{width:200px;height:auto;float:left;}
.comp-mid span{ width:190px;height:auto;display:block; margin-top:13px;margin-left:10px;font:17px "Myriad Pro", "Myriad Pro Cond", "Myriad Pro Light"; color:#000;float: left;}
.comp-mid span p{
	width: 84px;
	font: 17px "Myriad Pro", "Myriad Pro Cond", "Myriad Pro Light";
	color: #137bb1;
	float: left;
	margin-top:15px;
	padding-top:7px;
}
.value{width:25px;float:left;margin-left:2px;margin-top:10px;color:#666;}


.comp-right{width:270px;height:auto;float:left;margin-top:70px;}
.comp-right span{ width:260px;height:auto;display:block; margin-top:13px;margin-left:10px;font:17px "Myriad Pro", "Myriad Pro Cond", "Myriad Pro Light"; color:#000;float: left;}
.comp-right span p{
	width: 173px;
	font: 17px "Myriad Pro", "Myriad Pro Cond", "Myriad Pro Light";
	color: #137bb1;
	float: left;
	margin-top:15px;
	padding-top:7px;
}


.comp-cont2{width:470px;height:auto;margin-top:40px;margin-left:265px;overflow:auto;}
.topmargin{margin-top:25px !important;}
.topmargin-third{margin-top:50px !important;}

.margin-left{margin-left:60px !important;}
.margin-right{margin-left:150px !important;}

/*---------------------// Body Compsition page End //-----------------------*/


/*---------------------// mediations page Start //-----------------------*/
.mid-medi{height:770px !important;}
.select-margin{margin-top:30px !important;margin-left:0px !important; width:300px !important;}
.list{
	width: 100%;
	height: 200px;
	overflow:auto;
}

.list span{ width:350px;height:auto;display:block; margin-top:25px;margin-left:10px;font:17px "Myriad Pro", "Myriad Pro Cond", "Myriad Pro Light"; color:#000;float: left;}
	
.list span p{	width: 350px;font: 18px "Myriad Pro", "Myriad Pro Cond", "Myriad Pro Light";color: #137bb1;float: left;
	margin-top:15px;}

.list textarea{ background-color:#dadada !important ;margin:0px 0 0px 0; height:100px; width:730px; padding:0px 6px 0px; font:18px "Myriad Pro", "Myriad Pro Cond", "Myriad Pro Light" !important; color:#909090; display:block;}


.selected{width:350px;height:150px;background-color:#FFF;float:left;margin-top:30px;border: 1px #CDCDCD solid;}
.selected-head{width:335px;height:27px;font: 19px "Myriad Pro", "Myriad Pro Cond", "Myriad Pro Light";color: #137bb1;padding:5px;padding-left:10px;background-color:#CCC;}
.list .selected a{
	text-decoration: none;
	color: #333;
	font-family: "Myriad Pro", "Myriad Pro Cond", "Myriad Pro Light";
	font-size: 18px;
	font-weight: normal;
}
a .selected-value{width:334px;height:27px;font: 18px "Myriad Pro", "Myriad Pro Cond", "Myriad Pro Light";padding:5px;padding-left:10px;background-color:#EEE;text-dacoration: none;border: 1px #CDCDCD solid;}

.footer-medic{margin-top:135px !important;}

/*---------------------// mediations page End //-----------------------*/


/*---------------------// Screening page Start //-----------------------*/

.screen-para{width:760px;height:50px;font: 18px "Myriad Pro", "Myriad Pro Cond", "Myriad Pro Light";color: #137bb1;text-dacoration: none;margin-top:20px;margin-left:10px;}
.screen-data{width:690px;height:400px;font: 18px "Myriad Pro", "Myriad Pro Cond", "Myriad Pro Light";color: #137bb1;text-dacoration: none;margin-top:20px;margin-left:20px;background-color:#ddd;padding:10px;}
.contain-screen{height:614px !important;}
.screen-data ul{list-style-type: none;margin-left:30px;margin-top:8px;}
.screen-data ul li{	display: inline-block; padding:5px; height:22px; width:300px;}

/*---------------------// Screening page End //-----------------------*/
