@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
body{margin:0; padding:0; font-size: 14px; font-family: 'Roboto', sans-serif; color:#1d2a35;position: relative;} 
img{width:auto;}
.clear{clear:both;}
.container{height:auto; margin-bottom:20px;}
.container table{padding:0 10px;}
.graph_table td input[type="text"]{float:none; display:inline-block;}
.graph_table td{padding:10px 5px;}
.graph_table td select{margin-left:0 !important; width:95%; max-width:242px; display:inline-block;}
.name_field_td input[type="text"],.strength_table .name_field_td input[type="text"]{width:435px;}
.graph_table td.sml_text_field input[type="text"]{width:120px} 
.name_field_td img{margin-top:8px; margin-right:10px; width:30px;}
.graph{height:500px; width:830px; margin-left:50px; padding:5px; background:#fff; position:relative; overflow:hidden; border: 1px solid #ccc;}
.verticle_lines{margin:0; padding:0; list-style:none; float:right;}
.verticle_lines li{float:right; background:#44ca89; height:500px; width:26px; border-left: 1px solid rgba(0, 0, 0, 0.2); font-size: 14px; text-align:center; line-height:460px;}
.verticle_lines li span{transform: rotate(-90deg); display: inline-block; position:relative; z-index:1;}
.peak_graph .verticle_lines li span{margin-left: -7px;}
.flight_graph .verticle_lines li span{margin-left: -5px;}
.work_done_graph .verticle_lines li span{margin-left: -7px;}
.verticle_lines li:nth-child(2){background:#55cf94;}
.verticle_lines li:nth-child(3){background:#5dd299;}
.verticle_lines li:nth-child(4){background:#66d49f;}
.verticle_lines li:nth-child(5){background:#71d7a5;}
.verticle_lines li:nth-child(6){background:#79d9ab;} 
.verticle_lines li:nth-child(7){background:#83dcb1;}
.verticle_lines li:nth-child(8){background:#82dcb0;}
.verticle_lines li:nth-child(9){background:#8ddfb8;}
.verticle_lines li:nth-child(10){background:#92e1bb;}
.verticle_lines li:nth-child(11){background:#9de4c2;}
.verticle_lines li:nth-child(12){background:#a4e6c6;}
.verticle_lines li:nth-child(13){background:#b0e9cd;}
.verticle_lines li:nth-child(14){background:#b6ebd2;}
.verticle_lines li:nth-child(15){background:#c2eed9;}
.verticle_lines li:nth-child(16){background:#c5efdb; width:368px; position:relative; border:0;}
.verticle_lines li .graph_dashed_line{position:absolute; bottom: -32px; right:60px;}
.verticle_lines li .graph_dashed_line .graph_dash_text{position: absolute; left: -15px; bottom: 74px;}
.verticle_lines li .graph_dashed_line span{transform:rotate(0); left: -26px; bottom: -20px;}
.verticle_lines li .graph_dashed_line .graph_dashed_line{width: 38px; background: url(../images//graph_dashed_line.png) bottom center no-repeat; position: absolute; bottom: 227px; left: -25px; height: 292px; border-radius: 18px 27px 0 0;}
.verticle_lines li .graph_dashed_line .custom1 {height:110px; width:35px; background:none; position: absolute; z-index: 5000; right: 8px; bottom:0px;}
.verticle_lines li .graph_dashed_line .custom2 {height:110px; width:38px; background:none; position: absolute; z-index: 5000; right: 35px; bottom:0px;}
.verticle_lines li .graph_dashed_line .custom3 {height:110px; width: 44px; background:none; position: absolute; z-index: 5000; right: 68px; bottom:0px;}
.verticle_lines li .graph_dashed_line .custom4 {height:160px; width: 44px; background:none; position: absolute; z-index: 5000; right:-1px; bottom:0px;}
.verticle_lines li .graph_dashed_line .custom5 {height:160px; width: 44px; background:none; position: absolute; z-index: 5000; right:27px; bottom:0px;}
.verticle_lines li .graph_dashed_line .custom6 {height:160px; width: 44px; background:none; position: absolute; z-index: 5000; right:67px; bottom:0px;}
.verticle_lines li .graph_dashed_line .custom4 .red_dot {position: absolute;left: -109px; margin-left:-45px;top:16px; border-bottom: 3px solid #d70707;text-align: center;width: 112px;height: 88px;}
.verticle_lines li .graph_dashed_line .custom5 .red_dot {position: absolute;left: -109px;margin-left:-45px;top:16px; border-bottom: 3px solid #d70707;text-align: center;width: 112px;height: 88px;}
.verticle_lines li .graph_dashed_line .custom6 .red_dot {position: absolute;left: -109px;margin-left:-45px;top:16px; border-bottom: 3px solid #d70707;text-align: center;width: 112px;height: 88px;}
.verticle_lines li .graph_dashed_line .custom4 .red_dot img {position: absolute; top:77px; left: 22px;}
.verticle_lines li .graph_dashed_line .custom5 .red_dot img {position: absolute; top:77px; left: 22px;}
.verticle_lines li .graph_dashed_line .custom6 .red_dot img {position: absolute; top:77px; left: 22px;}
.verticle_lines li .graph_dashed_line .custom6:last-child .red_dot{margin-right: 100px; width: 56px; margin-left: 0;}
.verticle_lines li .graph_dashed_line .custom6:last-child .red_dot img{padding-left: 0; left: 0;}
input[type="text"].cus-input, select.cus-input {background-color:#f2f2f2 !important;}
.tabel_bord_skinfold input[type="text"].cus-input{border-radius:3px;}
.verticle_lines li .graph_dashed_line .custom1 .blue_dot, .verticle_lines li .graph_dashed_line .custom2 .blue_dot, .verticle_lines li .graph_dashed_line .custom3 .blue_dot {position: absolute; bottom: -131px;left: -15px;}
.bottom_values{position: absolute; bottom:100px; right:5px; left:60px; border-bottom: 1px solid #000;}
.bottom_values li{float:right; width:25px; margin-left: 2px; line-height:185px; position:relative;}
.bottom_values li .blue_dot{position: absolute; bottom:-124px; left:1px;}
.bottom_values li span{transform: rotate(-90deg); display: inline-block; width: 170px; margin-left: -73px; line-height: 25px; text-align: left; height: 25px; font-size: 12px; float:none;}
.graph_pulse_box{position:absolute; height:290px; right:5px; left:60px; top:20px; border-bottom: 2px solid #878a8d; border-left: 2px solid #878a8d;} 
.graph_pulse_box span{transform: rotate(-90deg); display: inline-block; font-size: 13px; left: -62px; top: 110px; position: absolute; text-transform: uppercase;}
.graph_pulse_box img{float:left; height:290px; width:100%;}
.red-icon {background: url(../images//red_dot.png) center no-repeat; }
.pulse_text{position: absolute; top: 70px; right: 210px; font-size: 20px; font-weight: bold; text-align: center; line-height: 30px;}

.drop_main{display:inline-block; width:29.5%;}
.drop_main ul{display:inline-block; width:274px; text-align:center; position:relative; height:1100px; background: #f2f2f2; box-shadow: 3px 0 5px rgba(0, 0, 0, 0.22); z-index:99; margin:0; padding:0;}
.drop_main ul li{width: 100%;}
.drop_main ul li a{margin:0; display: block; text-align: left; font-size: 14px; color: #31475a; text-decoration: none; line-height: 60px; padding: 0 20px; transition: all .3s linear;}
.drop_main ul li a img{float: left; margin-top: 20px; margin-right: 20px;} 
.drop_main ul li a:hover{background:#fff;}
.drop_main ul li ul.sub_menu{display: none; position: absolute; top: 0; left: 0; box-shadow:inset 3px 0 5px rgba(0, 0, 0, 0.22); opacity:0;}
.drop_main ul li ul.sub_menu li .inner_sub_menu,.drop_main ul li ul.sub_menu li .inner_sub_menu2{position:absolute; display:none; top:0; box-shadow:inset 3px 0 5px rgba(0, 0, 0, 0.22),3px 0 5px rgba(0, 0, 0, 0.22); opacity:0;}

.score_box{height:90px; position:absolute; bottom:5px; right: 5px; left: 30px;}
.score_box .score_text{float:left; line-height: 14px; font-size: 12px; margin-left: -16px; text-transform: uppercase;}
.score_box .red_dot{position: absolute; left: 351px; top: 50px; border-bottom:3px solid #d70707; text-align:center; width:235px; height:10px;}
.red_dot{position: absolute; left:-44px; top:170px; border-bottom:3px solid #d70707; text-align:center; width:112px; height:86px;} 
.red_dot img {padding: 0px 20px 0px 22px}

.strength_table input[type="text"]{width: 120px; margin: 0 !important;}
.flight_time_page .pulse_text{top: 40px; right: 60px;}
.strength_btns{float:left; position: relative; z-index: 1; margin-right: 10px; color: #c60003; font-size: 15px; text-align: center; text-decoration: none;}
.strength_btns img{margin-top: 0; width: auto; margin-left: 0px; margin-right:0;}
.strength_table .name_field_td img{margin-top:8px;}
.container .graph_table{padding-top:15px;}
.submaximal_page td.sml_text_field input[type="text"]{width: 80px;}
.graph_submaximal{padding:10px; position: relative; width: 510px; background: #f2f2f2; float:left;}
.graph_submaximal img{width:100%;}
.submaximal_page td{font-size:14px;}
.submaximal_page td .predicted_head{font-size:20px;}
.predicted_value{margin-top:10px; text-align:left;}
.mt_36{margin-top:36px;}
.submaximal_page .plot_btn{margin-top:0;}
.lactate_table td{padding:10px 0;}
.lactate_left_field td{padding:3px 5px;}
.lactate_table td.sml_text_field input[type="text"]{width: 95px;}
.lactate_left_field td.sml_text_field input[type="text"]{width:58px;}
.lactate_head{font-size:26px;}
.lactate_table .hr_zone_row{border-top:1px solid #cfcfcf; padding:0;}
.hr_zone_row .hr_zone_block{float:left; color:#c60003; width:86px; text-align:center; font-size:14px;}
.hr_zone_row .hr_zone_block:nth-child(4){width:35px;}
.hr_zone_row .hr_zone_block:nth-child(5){width:160px;}
.trai_zone_row  .hr_zone_block{background:#c5efdb; line-height:40px; color:#000; margin-top:-1px;}
.trai_zone_row  .hr_zone_block:nth-child(2){background:#b2e9cf;}
.trai_zone_row  .hr_zone_block:nth-child(3){background:#9fe4c3;}
.trai_zone_row  .hr_zone_block:nth-child(4){background:#8cdfb6;}
.trai_zone_row  .hr_zone_block:nth-child(5){background:#79d9aa;}
.position_r{position:relative;}
.info_block,.info_block2,.info_block_new{text-align: left; padding: 20px 25px; background: #fff; line-height: 22px; color: #373737; position: absolute; display: none; z-index: 999; width: 500px; top:20%; left: 50%; margin-left:-250px;}
.info_block_foot,.info_block_foot2{margin-top: 40px;display: inline-block; width: 100%;} 
.info_block_head,.info_block_head2{background: #e56b44;  font-size: 20px; margin: -20px -25px; padding: 20px; font-weight: bold; margin-bottom: 20px; color: #fff;}
.green_container .info_block_head{background:#3fc986;}
.violet_container .info_block_head{background: #906bd0;}
.info_block_new{width: 580px; margin-left: -290px;}
 
.overlay,.overlay2{content: ''; position: fixed; width: 100%; height: 100%; background:rgba(0, 0, 0, 0.7); left: 0; top: 0; z-index:999; display:none;}
.graph_lactate{margin-top:-2px; padding-top:30px; width:590px;}
.lactate_table table{padding:0;}
.graph_table .lactate_left_point label{line-height:15px; margin-bottom:12px; display:block;}
.graph_table .lactate_left_point label input[type="radio"]{float:left; margin-right:12px;}
.print_icon{position:relative; float: left; z-index:1;}
.print_icon_toggle{width:100px; position:absolute; left:24px; top:37px; background:#fff; box-shadow:0 0 5px rgba(0, 0, 0, 0.3); display: none;}
.print_icon_toggle:before {
    content: '';
    position: absolute;
    right: 42px;
    top: -6px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #FFFFFF;
}
.print_icon_toggle li{display:block;}
.print_icon_toggle li a{height: auto; width: 100%;
    display: block;
    margin: 0;
    padding: 5px 0;
    font-size: 14px;
    text-decoration: none;
    background: none;
    color: #C60003;}
.print_icon_toggle li a:hover {
    background: #EAEAEA;
}
.submaximal_page .submax_btn{margin-top: 0; font-size: 16px; border-radius: 20px; background:#ccc; color: #464646;}
.submaximal_page .submax_btn[disabled="disabled"]{opacity: .5; cursor:default;}
.stg_btn{padding: 0 13px;}
.grf_label1,.grf_label2{font-size: 16px; color: #6D6D6D; transform: rotate(-90deg); position: absolute; z-index: 1; left: 15px; top: 50%;}
.grf_label2{left: -60px;}
#chartdiv .jqplot-yaxis{left: -8px !important;}
#chartdiv .jqplot-xaxis{bottom: -6px !important;}
#chartdiv .jqplot-yaxis .jqplot-yaxis-tick{right: 0;}
#chartdiv .jqplot-xaxis canvas:first-child{bottom: -12px !important;}
.ml_7{margin-left:7px;}
.ml_42{margin-left:42px;}
.width_96{width:96px !important;}
.width_76{width:76px !important;}
.width_108{width:108px !important;}
.width_60{width:60px !important;}

.ml_34{margin-left:34px;}
.tabel_bord{width:238px;}
.tabel_bord thead tr td{border-bottom:1px solid #906bd0 !important; color:#906bd0; font-weight:bold;} 
.tabel_bord tr td{border-bottom:1px dashed #ececec; padding:10px; box-shadow: 0 1px 0 #fff;}
.tabel_bord tr td:nth-child(2){text-align:center;}
.tabel_bord tr:last-child td{border-bottom:0; box-shadow:none;}
.number_btn{font-size: 18px; color: #fff;background: #6A6A6A;  width: 50px; line-height: 50px; cursor: pointer; border-radius: 3px; margin: 0 5px; box-shadow: inset 1px 1px 2px rgba(255, 255, 255, 0.45), 3px 3px 2px rgba(0,0,0,0.75); border: 1px solid rgba(106, 106, 106, 0.16); outline:none;}
.rest_bot_btns{font-size:15px; text-decoration:none; color:#000; display:inline-block; line-height:28px;}
.rest_bot_btns span{height: 18px; width: 18px; float: left; margin: 0; text-align: center; border: 1px solid #31475a; border-radius: 60%;}
.rest_bot_btns span div{background: #31475a; height: 12px; width: 12px; border-radius: 60%; margin: 3px;}
.rest_bot_btns span img{display: none;}

.text_list p{width: 100%; display: inline-block; line-height: 22px; margin-bottom: 10px;}
.text_list p img{float: left; margin-right: 10px;}
.note_text{line-height: 18px; color: #808080;} 
.compute_btn{margin-top:40px;}   	
.error_select .select_div{float:left; width:28%; text-align:center;}
.error_select .select_div:nth-child(2){margin:0 8%;}
.error_select .select_div span{margin: 0; float: none; color:#906bd0;}
.error_select .select_div .Scroll_content{margin-top:10px; max-height: 373px; overflow-y: auto; overflow-x: hidden;}
.error_select .select_div .Scroll_content ul{padding: 0; margin:0;}
.error_select .select_div ul li input{width: 98%; padding: 0; border: 0; text-align: center; font-size: 14px !important; outline: none; background: #f2f2f2 !important; border-radius: 0; border-bottom: 2px solid #c6c6c6;}
.error_select .select_div ul li:last-child input{border-bottom: 1px solid #ccc;}
.calculation_box{margin:0 15px;} 
.calculation_box td label{color: #0e151a; margin-bottom: 10px; display:block;}

.tabel_bord_sml{float:left;border-bottom: 1px solid #999;}
.tabel_bord_sml tr td{padding:8px 0; color:#0e151a;}
.tabel_bord_sml tr td span{color: #906bd0; margin:0;}
.chart_div{width:54%; float:right;max-width:182px; margin-top:37px; border-top:1px solid #906bd0;} 
.chart_inner{width:100%; height:auto; display:inline-block; position:relative;border-bottom: 1px solid #999; padding-bottom: 37px;}
.chart_inner:before{content:''; position:absolute; bottom:0; top:0; left:50%; width:1px; background:#999; margin-left: -1px;}
.chart_inner ul,.chart_value ul{margin:0; padding:0; list-style:none;}
.chart_inner ul li{width:100%; border-bottom:1px dashed #ececec; height:37px;} 
.chart_value{width:100%; display:inline-block;}  
.chart_value ul{text-align:center;} 
.chart_value ul li{text-align:center; display:inline-block; font-size:16px; color:#999; width: 22px; margin-top:10px;}
.chart_circule_main{position:absolute; bottom:37px; top:0; width:100%;}
.chart_circule_main .chart_circule_row{height:13px; width:100%; padding:12.5px 0; text-align:center;}   
.chart_circule_row .red_circule{background:#906bd0; height:9px; width:9px; border-radius:60%; float:left; margin:0 1.32px; opacity: 0;} 
.chart_div_first .chart_circule_row .red_circule{margin:0 1.29px;} 
.page_head{font-size: 30px; color: #6D6D6D;  text-align: center; position: absolute; width: 100%;text-indent: 35px;}
.page_head span{font-size:15px; float: right; margin-right: 60px; line-height:36px;}
.error_conf_table{border: 1px solid #c3c3c3; margin-top:25px;} 
.error_conf_table tr td{padding:0; border-bottom: 1px solid #c3c3c3;}
.error_conf_table tr td:first-child{padding:0 10px; border-right:1px solid #c3c3c3;} 
.error_conf_table tr td input,.error_conf_table tr td input:focus{width: 140px; margin: 0 !important; padding:5px 10px; border: 0; background: none !important; text-align:center; display:block !important;}
.error_conf_table tr:nth-child(2n) td{background:#fff;}
.mt_275{margin-top:275px;}  
/*.main_Graph_container{position: absolute; left: -460px; top:-150px; width:964px;} */
.tabel_bord_skinfold{}

.tabel_bord_skinfold thead tr td{padding:10px;} 
.tabel_bord_skinfold tr td:first-child{width:15px;}
.tabel_bord_skinfold tr td:nth-child(2){text-align:left;}
.tabel_bord_skinfold tr td:last-child{text-align:left;}
.tabel_bord_skinfold thead tr td:last-child{text-indent:16px;}
.tabel_bord_skinfold tr td{padding:5px; border:0;} 
.tabel_bord_skinfold tr td input{width: 65px;}
.green_circle,.red_circle{height:15px; width:15px; background:#f00; border-radius:60%; cursor: pointer;}
.green_circle{background:#3fc986;}
.tabel_bord_skinfold tr td .green_circle,.tabel_bord_skinfold tr td .red_circle{height:19px; width:19px; background:none; border-radius:4px; cursor: pointer; border:1px solid #ccc;}
.tabel_bord_skinfold tr td .green_circle{background:#906bd0 url(../images/check.png) center no-repeat; border-color:#906bd0;}
.diag_chart{width:100%; height:410px;}
.sigma_table{margin-left:10px;}  
.sigma_table tr td{padding:5px;} 
.sigma_table tr td .rest_bot_btns{margin-right:0;}
.sigma_table tr td input[type="text"]{width:60px; border-radius: 3px;} 
.skinfold_head{font-size:16px; margin-bottom:12px;}
.diag_chart .graph{height:460px; width:100%; margin:0; padding:0; box-shadow:none; background:none; border:0;} 
.diag_chart .graph .bottom_values li{float: left; width: 45px; line-height: normal; margin-left: 0;}
.diag_chart .graph .bottom_values li:first-child{width:30px;}
.diag_chart .graph .bottom_values li:nth-child(2){width: 30px;}
.diag_chart .graph .bottom_values li:nth-child(5){width: 75px;}
.diag_chart .graph .bottom_values li:nth-child(6){width: 105px;}
.diag_chart .graph .bottom_values li span{transform:none; width:auto; margin-left:0; line-height:normal; height:auto; font-size:16px;}
.diag_chart .graph .bottom_values{left:5px; bottom:10px; border:0; margin:0; padding:0;}  
.diag_chart .graph .bottom_values_points li .blue_dot{bottom: 30px; z-index: 9; position:relative; float:left; left:0;} 
.diag_chart .graph .graph_pulse_box{left:0; right:0; height:405px; padding-left: 5px;}  
.diag_chart .graph .graph_pulse_box img{height:290px; margin-top:116px;}  
.percentile_box{position:absolute; right:50px; top:70px; font-size:16px; width:110px;}
.lrg_circle{height:480px; width:480px; background:#f2f2f2; border-radius:60%; margin:70px auto; padding:80px; position:relative;}
.lrg_circle .lrg_circle_in{height:320px; width:320px; background:#e6e6e6; border-radius:60%; margin:auto; padding:80px;}
.lrg_circle .lrg_circle_in .lrg_circle_inner{height:160px; width:160px; background:#ccc; border-radius:60%; margin:auto; padding:80px;}
.lrg_circle .lrg_circle_in .lrg_circle_inner .lrg_circle_under{height:160px; width:160px; background:#b3b3b3; border-radius:60%; margin:auto;}
.lrg_circle .hori_content{width:100%; height:30px; margin-top:-30px; border-bottom:1px solid #3b4048; position:absolute; top:50%; left:0;}
.lrg_circle .vert_content{height: 100%; border-right:1px solid #3b4048; position: absolute; top: 0; left: 50%; width: 38px; margin-left: -38px;}
.lrg_circle .vert_content:before, .lrg_circle .vert_content:after, .lrg_circle .hori_content:before, .lrg_circle .hori_content:after{content: 'mm'; position: absolute; top:-46px; right: -22px; font-size: 18px; white-space: nowrap;}
.lrg_circle .vert_content:after{top: auto; bottom: -46px;} 
#skinfold_6 .vert_content:before{content: 'subscapular \00a0  \00a0  mm';}
#skinfold_6 .vert_content:after{content: 'supraspinale \00a0  \00a0  mm';}
.lrg_circle .hori_content:before{right:auto; left: -60px; top: 13px;}
.lrg_circle .hori_content:after{right: -60px; top: 13px;}
.lrg_circle .hori_content ul, .lrg_circle .vert_content ul{margin: 0 -15px; padding:0; list-style:none; font-size:16px; position: relative;}
.lrg_circle .vert_content ul{margin:-15px 0;}
.lrg_circle .vert_content ul li{margin-bottom: 64px;}
.lrg_circle .vert_content ul li:nth-child(4){margin-bottom: 132px;}
.lrg_circle .vert_content ul li:last-child{margin-bottom:0;}


.lrg_circle .hori_content li{display:inline-block; position: absolute;}
.lrg_circle .hori_content li:nth-child(2) {left: 78px;}
.lrg_circle .hori_content li:nth-child(3) {left: 158px;}
.lrg_circle .hori_content li:nth-child(4) {left: 248px;}
.lrg_circle .hori_content li:nth-child(5) {left: 405px;}
.lrg_circle .hori_content li:nth-child(6) {left: 476px;}
.lrg_circle .hori_content li:nth-child(7) {left: 558px;}
.lrg_circle .hori_content li:last-child { left: 640px;}

.skinfold_container{line-height:30px; position:relative; float:left; width:60%;}
.skinfold_container .skmap_left{float:left; margin-left:80px;}
.skinfold_container .skmap_right{float:right; margin-right: 40px;}
.skinfold_container .skmap_right img{float: left; margin-top: 15px; margin-right: 10px;}
.skinfold_container .skmap_right .skmap_rtxt2 img{margin-bottom: 30px;}
.lrg_circle .sk_txt1, .lrg_circle .sk_txt2, .lrg_circle .sk_txt3, .lrg_circle .sk_txt4{font-size:17px; color:#000; position:absolute; top: 130px; left: -20px;}
.lrg_circle .sk_txt2{top: 120px; left:auto; right:-30px;}
.lrg_circle .sk_txt3{top: auto; bottom: 110px; left: auto; right: -10px;}  
.lrg_circle .sk_txt4{top:auto; bottom:120px; left:-10px;}
.population_div_main{height:auto; width:200px; margin-right:20px; float:left; position:relative;}
.population_div #chartdiv{width:440px; height: 470px; float:left; margin-left:-10px;} 
.sport_group_main{height:auto; width:400px; float:left;}
.sport_group_main #sport_group_div{width:440px; height: 470px; float: left; margin-left:-10px;} 
.population_div{height:438px; position:relative;margin-top: 20px; z-index:1;}
.population_div img{position:absolute; top:109px; left: 5px;}
.population_div ul{position:absolute; top:124px;}
.population_div ul li{float:left; margin-left: 5px;}
.population_div ul li:first-child{margin-top: 105px;} 
.population_div ul li:nth-child(2){margin-top: 80px;}
.population_div ul li:nth-child(3){margin-top: 55px;}
.population_div ul li:nth-child(4){margin-top: 38px;}
.population_div ul li:nth-child(5){margin-left: 0; margin-top: 15px;}
.population_div ul li:last-child{position: absolute; right: -20px; top: 20px;}
.population_div_ul{position:absolute; top:41px; left:2px; right: 2px; margin:0; padding:0; background-color:#faffbd;}    
.population_div_ul li{border-top:1px solid #ccc; height:54px; width:100%; display:inline-block;}
.population_div_ul li:last-child{border-bottom:1px solid #ccc;}
.half_container .points_div{width:40px; float:left; position:absolute; left:-38px; top:23px;}
.points_div ul{margin:0; padding:0; list-style:none;}
.points_div ul li{width:100%; font-size:16px; margin-top:34px;} 
.user_prof_main .user_prof_txt{font-size: 18px; margin: 0 7px; margin-top: 20px; line-height: 24px;} 
.sport_group_div{height:438px; width:100%; border: 2px solid #838383; border-top:0; margin-top: 20px; display:inline-block;}
.bottom_icons{display:inline-block; width:74px; margin-left:10px; text-align:center; font-weight: bold; font-size: 13px; color:#c60003;}
.bottom_icons img{max-width:98%; float: left; box-shadow:2px 3px 6px rgba(0, 0, 0, 0.67); border: 1px solid #c60003; background: #fff; margin-bottom:10px; color:#c60003;}
.user_prof_val_table{position:absolute; top:0;}
.skinfold_radio{float:left;}
.skinfold_radio label{margin-bottom: 0; display:block; width:100%;}
.anthro_chart_main{width:100%; height: auto; margin-bottom: 50px; display: inline-block;}
.anthro_chart_main #chartdiv .jqplot-event-canvas{background-size: 80%;}
.tri_shart_main{width:100%; height: auto; margin-bottom: 50px; display: inline-block;}
.tri_shart_main #chartdiv .jqplot-event-canvas{background:url(../images/diagram.png) 50.3% 66% no-repeat; background-size: 80%;}
.graph_table td .drop_select{background:#fdfbb0 !important; color:#312d2d; border-color:#6f6f6f; width: 200px !important; margin-left: 25px !important;}

/**********************Site Redesign Style************************/
.header{background:#0e151a; display: inline-block; width: 100%;}
.head_left{font-size:17px; color:#fff; float:left; font-weight: bold; line-height: 50px;letter-spacing: .5px; margin-left:20px; position: relative;}
.head_left a{text-decoration: none; color: #fff;}
.head_right{font-size:15px; color:#fff; float:right; line-height: 50px; margin-right:20px;}
.head_right img{width:24px; float: right; margin-top: 12px; margin-left:10px;}
.welc_form{margin:auto; max-width:80%;}
.welc_form_row{margin:20px 0;}
.welc_form_row h4{font-size:20px; margin-bottom:10px;font-family: 'Roboto', sans-serif; color:#0e151a; font-weight: normal;}
.welc_form_row p{font-size:15px; color:#000;}
.field_row{ width:100%; display:inline-block; margin-bottom:28px;}
.field_row .field_50{width:48%; float:left;}
.field_row .field_50:nth-of-type(2){float:right;}
.field_row label{color:#0e151a; margin-bottom:10px; display:block;}
.field_row .field_50.dob select{width:30%; margin-right:3.82%;}
.field_row .field_50.dob span:last-child select{margin-right:0;}
.field_row .field_50.gen label{display:inline-block; margin-right:15px;}
.field_row .field_50.gen label:first-child{display:block;}
.field_row .field_65{width:60%; float:left; line-height:42px;}
.field_row .field_35{width:35%; float:right;}
.field_row .field_65_r{width:45%;}
.lite_btn{height:40px; width:auto; font-size:15px; color:#1d2a35; border:1px solid #ccc; background: #fff; border-radius: 20px; padding: 0 20px; cursor:pointer; outline:none; min-width: 90px; text-align: center; text-decoration: none; line-height:40px !important;-webkit-appearance: none; display: inline-block;}
.lite_btn.btn_green{background:#3fc986; color: #fff; border-color: #3fc986;}
.lite_btn.btn_orng{background:#e56b44; color: #fff; border-color: #e56b44;}
.lite_btn.btn_vio{background:#906bd0; color: #fff; border-color: #906bd0;}
input.lite_btn{line-height:normal;}
/*.grey_btn{border-color:#1d2a35;}*/
.program_btn{margin-top:10px; margin-right:5px; margin-bottom:20px; line-height:normal; -webkit-appearance: none; padding:0 12px; background: #808080;border-color:#808080; color: #fff; transition: all linear .3s;font-size: 13px;}
.program_btn:hover{border-color:#e56b44; background:#e56b44; color:#fff;} 
.program_btn.clr_grn:hover{background: #3fc986; border-color:#3fc986;}
.program_btn.clr_vio:hover{background: #906bd0;border-color:#906bd0;}
.program_btn.clr_cyan:hover{background: #16becf;border-color:#16becf;} 
.program_btn.clr_grey:hover{background: #0e151a;border-color:#0e151a;}
.program_btn.clr_blue:hover{background: #1966b1;border-color:#1966b1;}
.program_btn[name="mysubmit6"]{margin-right: 0;}

.mr_0{margin-right: 0;}
.f_right{float:right !important;}
.f_left{float:left !important;}
.orng_container{background:#e56b44; display: inline-block; width: 100%; margin:-4px 0;}
.green_container{background:#3fc986;}
.violet_container{background:#906bd0;}
.orng_container .orng_box_btn{width: 75px; border-left: 1px solid #fff; height: 75px; text-align: center; line-height: 85px;}
.orng_container .orng_box_btn a{display: block;}
.orng_container .orng_box_btn.f_left{border-right:1px solid #fff; border-left:0;}
/*.orng_container .orng_box_btn img{width:30px;}*/
.orng_container .orng_box_head{margin-left:20px; color:#fff; font-size:15px; }
.orng_container .orng_box_head h3{margin-top:16px; margin-bottom:0;font-weight:normal;}
.orng_container .orng_box_head p{font-size: 14px; margin:0;}
.field_row .field_85{width:75%; float:left; padding-right:10%;}
.field_row .field_15{width:15%; float:right;}
.field_row .field_15 label{display:inline-block;}  
.field_row .field_75{width:75%; float:left;}
.field_row .field_25{width:25%; float:right; text-align:right; position:relative;}
.field_row .field_25 .value-physi{position:absolute; right:0; top:10px; width: 30px; text-align: left;}
.field_row .field_25 input[type=number]{margin-right:34px;}
.field_row .field_25 label{display:inline-block; margin-left: 20px;}
.field_row .field_25 label:first-of-type{margin-left:68px;}
.field_row .field_25 label span{margin-top: 10px;}
.right-section .field_row{border-bottom: 1px solid #e6e6e6; margin-bottom: 20px; padding-bottom: 20px; line-height: 1.5em;}
.left_panel_btn{display: block; font-size: 14px; color: #31475a; width: 100%; line-height: 60px; border: 0; text-align: left; cursor: pointer; background: none; outline: none; padding: 0 20px; transition:all .3s linear;font-family: 'Roboto', sans-serif;}
.left_panel_btn img{float: left; margin-top: 20px; margin-right: 20px;}
.left_panel_btn:hover,.left_panel_btn.active{background:#fff;}
.right-section .checkbox_title_row{margin-bottom: 0; position: relative;}
.right-section .checkbox_title_row .field_15 span{margin: 0 10px;}
.page_medi .field_row .field_15 label{margin:0 10px;}
.half_container{width:47%; position:relative;}
.half_container .field_50{float:left; width:50%;} 
.half_container .field_50 input{margin-bottom:10px;}
.info_txt{font-size:10px; color:#b3b3b3;}
.risk_factor_canv{position: absolute; text-align: center; width: 100%; vertical-align: middle; top: 70px; line-height: 60px;}
.risk_factor_canv .score-head{font-size:20px; color:#4d4d4d;}
.risk_factor_canv .score{font-size:80px; color:#ef3832; font-weight:bold;}
.verticle_field_row .field_24{width:22.7%; margin-right: 3%; float:left;} 
.verticle_field_row .field_24:last-child{margin-right:0;}
.verticle_field_row .field_25 label:first-of-type{margin:0; float:left;}
.side_menu{width:75px; float:left; min-height:100%; background:#f2f2f2; position:absolute;}
.menu_btn{text-align: center; width:75px; height:75px; display: inline-block; background:url(../images/menu_icon.png) center no-repeat;}
.menu_btn.active{background:#fff url(../images/menu_icon_active.png) center no-repeat;}
.side_25_per{width:23%; float:left;}
.side_75_per{width:73%; float:right;}
.field_row .field_100{width:100%; float:left; margin-bottom:15px;}
#cube_eqn,#cube_eqn2{display: none; background: #fff; border: 1px solid #ccc; color: #1a1a1a; padding: 4px 14px; border-radius: 15px; box-shadow: rgba(0, 0, 0, 0.498039) 1px 1px 2px; margin-bottom: 10px; font-size: 12px; font-weight: bold; cursor:pointer; outline:none;}
.bottom_tabs{margin-bottom:30px;}
.bottom_tabs .lite_btn{display: inline-block; margin: 0 8.5px; line-height:40px;}
.bottom_tabs .lite_btn{background:#906bd0; color: #fff; border-color:#7452af;}
.bottom_tabs .lite_btn:first-child{margin-left:0;}
.bottom_tabs .lite_btn:last-child{margin-right:0;}
.color_vio{color:#906bd0;}
.resp_field{margin-top: 12px;}
.body_tble td,.body_tble thead tr td{border: 0 !important;}
.right-section_new span{margin:0; padding:0;}
.modal_head h3{background:#906bd0; color:#fff; font-size:20px; margin:0; text-align: left; padding: 20px; font-weight: normal;}
.jqplot-highlighter-tooltip{border: 1px solid #808080; background: #fff; z-index: 1; border-radius: 4px; padding: 3px 8px; font-size: 12px; margin-left:59px;} 
.jqplot-highlighter-tooltip div{border:0 !important; line-height:20px !important;}
.btn_virtual{background: #3174e4; color: #fff; border-color: #3174e4;}
.profile_edit_btn{height: 25px; width: 25px; float: right; border: 0;background: url(../images/user_icon.png) center no-repeat;  background-size: 100%; margin-top: 12px; margin-left: 10px;outline: none; cursor: pointer;}
.page-break	{ display: none; }
.clearfix{clear: both;}
#phantom_line{position:relative;}
.graph_submaximal .grf_label2{margin-right: -50px; margin-left: 40px;}



/*************New Css for VirtualEST by pushpendra singh************/
.virtual_container{position: fixed; height: auto; width: 322px; right: 100px; top: 80px;}
.btn_generate {
    background: #0e151a;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;
    font-size: 14px;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    padding: 12px 20px;
}
.btn_generate:active,.btn_generate:hover{/*-webkit-transform: translateY(-10px); transform: translateY(-10px);*/ background: #3fc986;}
.virtual_box {
    height: 530px;
    width: 280px;
    float: left;
    border: 1px solid #ccc;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
    padding: 20px;
    background: #fff; margin-bottom: 100px; visibility: hidden; transition: all linear .3s;
}
.male_person img { 
    width: 100%;
}


.v_person{position: absolute; top: 127px; z-index: 9;
    right: 130px;
    height: auto;
    width: 160px; opacity: 0; cursor:all-scroll;
   /* background: #fff;
    border: 1px solid #d0d0d0;
    padding: 10px;border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);*/}
.v_person .discart{background: #0e151a;
    height: 20px;
    width: 20px;
    border-radius: 60%;
    color: #fff;
    text-decoration: none;
    position: absolute;
    top: -8px;
    right: -8px;
    z-index: 2;
    text-align: center;
    line-height: 20px;}
.v_image{width: 100%; position: relative; z-index: 1;}
.v_image img{width: 100%;border-radius: 3px;}
.v_btn {
    display: inline-block;
    text-align: center;
    width: 100%; position: relative; z-index: 1;
}
.v_btn a {
    background: #3fc986;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    line-height: 40px; border-radius: 20px; padding: 0 20px
}
.v_detail {
    background: #fff;
    border: 1px solid #d0d0d0;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    position: absolute;
    left: -50px;
    right: -50px;
    top: 130px;
	padding-top: 90px; display: none;
}
.v_detail .field_row {
    margin-bottom: 10px;
}
.v_detail .field_row label{font-size: 13px;}
.v_detail .field_row input[type="text"],.v_detail .field_row select{
    height: 26px;
    font-size: 13px !important;
    padding: 0 5%;
    width: 90%;
}


.v_detail .field_row.gen label{display: inline-block; margin-right: 15px;}
.v_detail .field_row.gen label:first-child {
    display: block;
}
.v_detail .field_row.dob select {
    width: 31.55%;
    margin-right: 1.22%;
}
.v_detail .field_row.dob span:last-child select{margin-right: 0;}
.section_121 .lite_btn.btn_green{width: 130px; padding: 0;}
.form_message {
    margin-bottom: 30px;
    background: rgba(21, 181, 20, 0.47);
    color: #000;
    padding: 0 10px;
    line-height: 25px;
    font-size: 13px;
    box-shadow: inset 0 0 0 1px #17a520;
    border-radius: 3px;
}

.form_message.error{background: rgba(181, 20, 20, 0.47);  box-shadow: inset 0 0 0 1px #a51717; color: #fff;}
.error {    
    color: red !important;   
}
.info_icon{float: right; height: 16px; margin-top: 3px;}
.blood_screen .info_icon{float: left;margin-left: -30px;}
.info_content .info_img {
    width: 35%;
    float: left; text-align: center;
}
.info_content .info_img img{max-width: 100%;}
.info_content .info_txt {
    width: 62%;
    float: right;
    font-size: 13px;
    color: #373737;
}
.change_head {
    margin: 16px 0;
    font-weight: bold;
    border-bottom: 1px solid #eee;
    padding-bottom: 6px;
    color: #0e151a;
}
.cyan_container {
    background: #16becf;
}
.color_cyan {
    color: #16becf; 
}

.field_row .field_70{width: 66%;}
.field_row .field_30{width: 30%;}


.range_div{ display: inline-block; width:205px; margin: 12px 0;height: 346px; position: relative;} 	
.rangeslider{background:#e6e6e6 !important; box-shadow: none;}
.rangeslider__fill{background:#b3b3b3 !important;box-shadow: none;}
.rangeslider__handle{ background:#4d4d4d !important; width: 20px !important; height: 20px !important; z-index:99;}
.rangeslider--horizontal { height:8px !important; width: 100%;}
.rangeslider--horizontal .rangeslider__handle { top: -6px !important; border: 0; box-shadow: none;}
.rangeslider__handle:after{display: none;}
	
.vio_range_div .rangeslider__fill{background:#c7b5e7 !important;}
.vio_range_div .rangeslider__handle{ background:#906bd0 !important;}
ul.range_numbers {list-style: none; margin: 0; padding: 0; position: absolute; left: 0; top:10px; z-index: -1;} 
ul.range_numbers li {color: #808080; font-size: 13px; width:78px; text-align: right; position:relative; margin-top: 11px;}
ul.range_numbers li:before,ul.range_limits li:before{content: ''; width:20px; height: 1px; position: absolute; background:#e9e9e9; right:-35%; top: 8px;} 
.range_div2 ul.range_numbers li{margin-top: 16px;}
.horiz_range_div{width: 510px; margin-top: 46px; height: auto;}

ul.range_numbers.range_hori{right: 0;}
.rangeslider--horizontal .rangeslider__fill{background: #8adfe7 !important;}
.rangeslider--horizontal .rangeslider__handle{background:#16becf !important;}
ul.range_numbers.range_hori li{float: left; text-align: center; width: 11%;}
ul.range_numbers.range_hori li:before{height: 20px; width: 1px; left: 50%; top: -27px;}
ul.range_numbers.range_hori2 li{width: 7.1%;}

.width_70px{width: 80px;}
.right_sp_head {
    border-bottom: 1px solid #e6e6e6;
    width: 100%;
    display: inline-block;
    padding-bottom: 5px;
}
.sport_table {
    max-height: 680px;
    overflow: auto; border-bottom: 1px solid #eee;
}
.sport_table table td {
    font-size: 13px;
}

.table-inbox .inbox-small-cells label {
    margin-bottom: 0;
    height: 18px;
}
.page_medi .field_row .field_50 label {display: inline-block;}
.right-section .checkbox_title_row .field_50 span {
    margin: 0 20px; font-weight: bold; margin-right: 40px;
}
.cvd_row .field_25 {
    float: left; text-align: center; width: 33.3%;
}
.cvd_row .field_25 label {
    margin: auto !important;
    width: 100%;
}
.graph_box{border: 1px solid #3095cc; position: relative;margin-bottom: 30px;}
.graph_box:before,.graph_box:after {
    content: 'Systolic blood pressure (mm Hg)';
    position: absolute;
    left: -112px;
    transform: rotate(-90deg);
    top: 265px;
    font-size: 18px;
}
.graph_box:after {
	left: auto;
    right: -112px;
}
.graph_box h1{background: #3095cc; text-align: center; font-size: 20px;color: #fff;padding: 10px 0;}
.graph_head {
    margin: 0 40px;
}
.graph_head .head {
    width: 50%;
    float: left;
    font-size: 22px;
    text-align: center; margin-top: 20px;
}
.graph_row {
    margin: 0 40px;    display: inline-block;
    width: 630px;margin-bottom: 6px;
}

.graph_block {
	float: left;
    width: 113px;
}
.graph_block .block-head{text-align: center;}
.graph_block .graph_val {
    float: left; margin-right: 2px;
}
.graph_block .graph_val ul li {
    line-height: 23px;
    height: 23px;
    margin-bottom: 2px;
}
.graph_grid {
    width: 113px; 
    float: left;
}
.graph_grid ul li {
    float: left;
    height: 23px;
    width: 20.6px;
    margin-right: 2px;
    margin-bottom: 2px;
}
.graph_grid ul li.active{transform: scale(1.3); box-shadow: inset 0 0 0 1px #000000, 0 0 6px rgb(0, 0, 0);}

.graph_grid ul li.red{background: #ee3658;}
.graph_grid ul li.orange_dark{background: #f7a64a;}
.graph_grid ul li.orange_light{background: #f3c64a;}
.graph_grid ul li.yellow{background: #f8f16f;}
.graph_grid ul li.blue{background: #61d3f4;}
.graph_grid ul li.green{background: #81bd63;}
.graph_grid ul li.light_green{background: #c3da5f;}


.graph_block_age {
    width: 64px;
    float: left;
    text-align: center;
    margin-top: 22px;
    font-size: 18px;
}
.mr_22{margin-right: 22px;}
.graph_bottom_val {
    width: 113px;
    display: inline-block;
}
.graph_bottom_val ul li {
    float: left;
    height: 23px;
    width: 20.6px;
    margin-right: 2px;
    text-align: center;
}
.graph_row .graph_block:first-child .graph_bottom_val {
    margin-left: 32px;
}
.graph_foot {
    margin: 0 40px;display: inline-block;
    width: 620px;    margin-bottom: 10px;
    margin-top: -10px;
}
.graph_foot .g_foot {
    width: 50%;
    float: left;
    font-size: 16px;
    text-align: center;
}
.bottom_table {
    border: 1px solid #cecece;
    width: 420px; 
    margin: auto; padding: 10px 5px; padding-bottom: 10px;
}
.bottom_table p{line-height: 30px;margin: 0 8px;}
.bottom_table .bottom_col {
    width: 28%;
    display: inline-block;
    margin: 0 2%;
}
.bottom_table .bottom_col h3 {
    font-size: 13px;
    border-bottom: 1px solid #b1b1b1;
    margin-bottom:10px;
    padding-bottom: 5px;
}
.bottom_table .bottom_col li {
    height: 23px;
    width: 22px;
}
.bottom_table .bottom_col li.red{background: #ee3658;}
.bottom_table .bottom_col li.orange_dark{background: #f7a64a;}
.bottom_table .bottom_col li.orange_light{background: #f3c64a;}
.bottom_table .bottom_col li.yellow{background: #f8f16f;}
.bottom_table .bottom_col li.blue{background: #61d3f4;}
.bottom_table .bottom_col li.green{background: #81bd63;}
.bottom_table .bottom_col li.light_green{background: #c3da5f;}
.ab_tag {
    background: #3095cc;
    margin: auto;
    display: block;
    width: 270px;
    margin-bottom: 15px;
    height: 40px;
    font-size: 22px;
    line-height: 40px;
    padding-left: 15px;
}
.ab_tag span {
    float: right;
    margin: 0;
    font-size: 25px;
    background: #f8f16f;
    width: 80px;
    text-align: center;
}
.right-section .checkbox_title_row label span {
    margin-left: 0 !important;
}
.right-section .checkbox_title_row label {
    margin-right: 12px !important;
}

.any_left .field_row .field_50 {
    width: 24%;
}
.any_left .field_row .field_50:nth-of-type(2), .any_left .field_row .field_50:nth-of-type(5), .any_left .field_row .field_50:nth-of-type(8) {
    width: 72%;
}
.any_left .field_row .field_50:nth-of-type(2) label:last-child, .any_left .field_row .field_50:nth-of-type(5) label:last-child, .any_left .field_row .field_50:nth-of-type(8) label:last-child {
    margin-left: 10px;
}



.rang_slider {
    -webkit-appearance: none;
    width:240px;
    height: 8px;
    background: #e6e6e6;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;border-radius: 10px;position: absolute;
    bottom: 116px;
    left: -31px;
	/*background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(0.15, #c7b5e7),
        color-stop(0.15, #e6e6e6)
    );*/
}
.rang_slider.vertical{transform: rotate(-90deg);-webkit-transform: rotate(-90deg);-webkit-backface-visibility: hidden;
  backface-visibility: hidden;}


.rang_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #4d4d4d;
    cursor: pointer; border-radius: 60%;
}

.rang_slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #4d4d4d;
    cursor: pointer; border-radius: 60%;
} 

.rang_slider.voilet::-webkit-slider-thumb{background: #906bd0;} 
.rang_slider.voilet::-moz-range-thumb{background: #906bd0;} 

.rang_slider.blue::-webkit-slider-thumb{background: #1966b1;} 
.rang_slider.blue::-moz-range-thumb{background: #1966b1;} 

.range_div output {
  position: absolute;
  top:auto;
  display: none;
     width: 50px;
    height: 24px;
    background-color: #4d4d4d;
    border-radius: 3px;
    color: #fff;
    font-size: .8em;
    line-height: 24px;
    text-align: center;
    margin-bottom: -11px; z-index: 99;
}
.range_div output:before {
    content: '';
    position: absolute;
    left: -6px;
    border-top: 5px solid transparent;
    border-right: 6px solid #4d4d4d;
    border-bottom: 5px solid transparent;
    top: 7px;
}

/* input[type=range].rang_slider:active + output {
  display: block;
  transform:translateX(220%);
  -webkit-transform:translateX(220%);-webkit-backface-visibility: hidden;
  backface-visibility: hidden;
} */


.range_div output.voilet{background-color: #906bd0;}
.range_div output.voilet:before{border-right: 6px solid #906bd0;}
.range_div output.blue{background-color: #1966b1;}
.field_row .field_35.any_left{width: 40%;}
.vd_head .field_85{padding-right: 0; width: 70%;}
.vd_head .field_15{width: 28%;}

.cvd_row_7 .field_25 {
    width:7.69%;
    text-align: center; float: left;
}
.cvd_row_7 .field_25 input{font-size: 12px !important;}
.cvd_row_7 .field_25 label{margin: auto !important; width: 100%; word-break: break-all;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px; float: left;}
.cvd_row_7 .field_25 label:first-of-type{height: 52px;}
.cvd_row_7 .field_25 .range_div{ margin-left:-5px; width: 60px;}
.cvd_row_7 .field_25 .range_div .rang_slider{left: -75px;    z-index: 9;}
.cvd_row_7 .field_25 .range_div ul.range_numbers{right: 29.5px; width: 30px; left: auto; float: left; z-index:1;} 
.cvd_row_7 .field_25 .range_div ul.range_numbers li{width: 30px; float: left; top: 0;} 
.cvd_row_7 .field_25 .range_div ul.range_numbers li:before, .cvd_row_7 .field_25 .range_div ul.range_numbers li:before{right:-78%;}

.graph_curve{height:220px; width:100%; overflow:hidden; position:relative;border-bottom: 1px solid #cacaca; border-left: 1px solid #cacaca;}
.graph_curve_in{    height: 180px;
    width: 520px;
    background:#ffd7d7;
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 0px 438px 0 0px;    border-top: 1px solid #ada8a8;
    border-right: 1px solid #ada8a8;}
ul.graph_val_ul {
    margin: 0;
    padding: 0;
    list-style: none; position: relative;
}
ul.graph_val_ul:before {
    content: 'Years of life expectancy';
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: -32px;
    font-size: 16px;
}
ul.graph_val_ul li {
    display: inline-block;
    margin-right: 37px;
}
ul.graph_val_ul li:last-child {
    margin-right: 0;
}
 

/* Tooltip text */
.tooltiptext {
    width: 300px;
    background-color: #3fc986;
    color: #0e151a;
    text-align: center;
    padding: 5px 10px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    left: 50%;
    margin-left:-150px;
    transition: opacity 1s;
    top: 48px;
    font-size: 11px;
    line-height: 18px;
    font-weight: normal; display: none;
}
.tooltiptext a{color: #0e151a;}
.tooltiptext a:hover{text-decoration: underline;}

/* Tooltip arrow */
.tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -10px;
    border-width:10px;
    border-style: solid;
    border-color:transparent transparent #3fc986 transparent;
}
.health_tag {
    text-align: center;
    background: #666;
    display: block;
    margin: auto;
    width: 180px;
    padding: 10px 0;
    color: #fff;
    border-radius: 6px;margin-bottom: 20px;
}
.health_tag span {
    display: inline-block;
    float: none;
    margin: 0;
    color: #fff;
}
.check_tab {
    text-align: center;
}
.check_tab label,.check_tab .check_head {
    background: #e7e7e7;
    text-align: center;
    padding: 5px;
    width: 38%;
    display: inline-block;
    margin: 0 4.6%; cursor: pointer;
}
.check_tab label:hover,.check_tab label.active{background:#3fc986;}
.check_tab .check_head{
    margin-bottom: 60px; cursor:default;
}
.check_tab label input {
    display: none;
}

.drop_main ul li ul.sub_menu li .inner_sub_menu2 li:nth-child(2) a,.sub_menu li a[href="http://115.112.118.252/VirtualEST/index.php/Fitness/maod_test"] {
    line-height: 20px;
    padding: 10px 20px;
}
.field_row .check_tab:nth-of-type(2) .check_head:before {
    content: '';
    position: absolute;
    height: 61px;
    width: 1px;
    background: #c1c1c1;
    top: 31px;
    left: 50%;
}
.field_row .check_tab:nth-of-type(1) .check_head:before,.field_row .check_tab:nth-of-type(1) .check_head:after,.field_row .check_tab:nth-of-type(1) label:nth-of-type(2):before,.field_row .check_tab:nth-of-type(1) label:nth-of-type(2):after {
    content: '';
    position: absolute;
    height: 30px;
    width: 1px;
    background: #c1c1c1;
    top: 31px;
    left: 50%;
}
.field_row .check_tab:nth-of-type(1) .check_head:after{height: 1px; width: 240px; top: 61px; left: 94px;}

.field_row .check_tab:nth-of-type(1) label:nth-of-type(2):before{top: 61px; left: auto; right: 95px;}
.field_row .check_tab:nth-of-type(1) label:nth-of-type(2):after{top: 61px; left:94px;}
.well_container{background: #1966b1;}



@media screen and (min-width:766px) and (max-width:1024px){   
	.wrapper{max-width:100%;}
	.logo{max-width:100%; padding-left:0;}
	.logo img{max-width:100%;}
	.sport_group_main #sport_group_div,.population_div #chartdiv{width: 430px;}
	.bottom_tabs .lite_btn{margin: 0 7.5px;}
}
@media screen and (max-width:770px){
	input[type="text"]{font-size:14px !important; margin-left:0 !important;}
	.mid{height: auto; min-height:630px; padding-bottom:20px;}
	.graph{width:590px;}
	.verticle_lines li{width:24px;}
	.verticle_lines li:nth-child(16){width:104px;}
	.verticle_lines li .graph_dashed_line{left: 48px;} 
	.bottom_values{bottom:80px;}
	.bottom_values li{width:24px; line-height: 118px;}
	.bottom_values li span{margin-left: -38px; line-height: 24px; height: 24px;width: 100px;}
	.graph_table td.sml_text_field input[type="text"],.strength_table input[type="text"]{width: 70px;}
	.submaximal_page td{font-size:12px;}
	.submaximal_page td.sml_text_field input[type="text"]{width:52px;}
	.score_box .blue_dot{left: 286px;}
	.score_box .red_dot{left: 240px;} 
	.pulse_text{top: 40px; right: 110px; font-size:17px}
	.lactate_left_field td{font-size:14px;}
	.lactate_left_field td.sml_text_field input[type="text"]{width: 48px;}
	.hr_zone_row .hr_zone_block{width:54px; font-size:13px;}
	.hr_zone_row .hr_zone_block:nth-child(4){width:25px;}
	.hr_zone_row .hr_zone_block:nth-child(5){width:108px;}
	.field_row .field_85{width: 70%; padding-right:5%;}
	.field_row .field_15{width: 20%;}
	.field_row .field_25 label:first-of-type{margin-left:20px;}
	.left{width: 220px;}
	.left_panel_btn{padding:0 10px !important;}
	.left_panel_btn img{margin-right: 15px;}
	.right-section .field_row canvas{width:100%;}
	.risk_factor_canv{top:45px;}
	.field_row .field_65{width: 74%;}
	.field_row .field_35{width: 23%;}
	.field_row .field_65_r{width: 52%;}
	.welc_form{max-width: 90%}
	.program_btn{margin-right: 5px;font-size: 14px; padding: 0 10px;}
	.vd_head .field_85{width: 55%;}
	.vd_head .field_15{width: 40%;}
	.field_row .field_35.any_left {width: 44%;}
	.any_left .field_row .field_50 {width: 28%;}
	.field_row .field_65.any_right{width: 56%; overflow: hidden;}
	.field_row .field_65.any_right .range_div{margin-left: -40px;}
	.right-section .checkbox_title_row label{margin-right: 0px !important;}
	.graph_box{overflow-x: scroll;}
	.graph_box:after{right: -300px;}
	.graph_box h1{width: calc(100% + 192px);}
}

@media print{	
	@page {size: auto;} 
	/*div{ page-break-inside: avoid; }*/
	.header{float:left; margin-bottom:20px;}  
	.wrapper{display:inline-block; float:left; width:100%;}
	.head_left{font-size:20px;}
	.head_right{font-size:18px;}
	.main_Graph_container{left: -500px; top:-130px; width:904px;}
	.orng_container{display:none;}
	.right-section{width: 940px; margin-left:0; padding-right:0; float:left;}
	.right-head{margin-top:0;}
	.field_row .field_85,.field_row .field_75{width:700px; }
	.field_row .field_85,.field_row .field_75,.field_row .field_25{margin-bottom:10px;}
	.screen-head{font-size: 11px; color: #454545;}
	.info_txt {font-size: 13px; color: #454545;}
	.screen-data2{margin-top:0; margin-left:0; padding: 20px 0;}
	.side_menu{display:none;}
	.tabel_bord{width: 259.8px;}
	.page-break	{ display:inline-block; page-break-before: always; width: 100%;}
	.v_person{display: none;}
	.footer{display:inline-block !important; position: relative; bottom: 0;}
	#extra{background-size:45% 100% !important;margin:0px auto 0 34% !important;}
	.graph_box{width: 700px; margin: auto;}
	.bottom_table{margin-top: 50px;}
	.print_hide{display: none;}
	.prnt_mar0{margin: 0 !important;}
	.prnt_pad0{padding: 0 !important;} 
	.pnt_mt_20{margin-top: -20px;}	
	.print_center{text-align: center;} 
	.welc_form_row h4,.btn_generate{display: none;}
}







@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (-webkit-min-device-pixel-ratio: 1){ 
	#sel_itm,#sel_itm2{height: 40px !important; margin-top: 80px !important;}
	#sel_itm2{margin-top:112px !important;}
}